<app-bread-crumbs [img_url]="'dry1.jpg'">
    <div class="d-flex align-items-center h-100">
        <div class="w-100">
            <h1 class="text-light">Lorem, ipsum dolor.</h1>
            <p class="text-light my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />Non unde atque
                exercitationem quos rerum reiciendis.
                <a routerLink="/app/services/freight/how-much-does-it-cost/products" class="btn btn-outline-light btn-floating ms-5 py-2"><i style="font-size: 16px;"
                        class="fa fa-arrow-right"></i></a>
            </p>
        </div>
    </div>
</app-bread-crumbs>






<div class="container mb-5 pb-5">
    <app-section-title title="Lorem ipsum dolor sit"></app-section-title>

    <div class="row">
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Dry_Vans/2.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>


    <div class="row sm-reverse">
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aliquid tempora magnam totam
                        enim voluptatem similique quas nobis optio odio itaque repudiandae autem illum. Accusamus magni
                        ad harum excepturi neque nemo quae. Suscipit, consequuntur quibusdam.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Dry_Vans/3.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

    <div class="row">
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Dry_Vans/4.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>


    <div class="row sm-reverse">
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aliquid tempora magnam totam
                        enim voluptatem similique quas nobis optio odio itaque repudiandae autem illum. Accusamus magni
                        ad harum excepturi neque nemo quae. Suscipit, consequuntur quibusdam.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Dry_Vans/5.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

    <div class="row">
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Dry_Vans/6.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>


    <div class="row sm-reverse">
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aliquid tempora magnam totam
                        enim voluptatem similique quas nobis optio odio itaque repudiandae autem illum. Accusamus magni
                        ad harum excepturi neque nemo quae. Suscipit, consequuntur quibusdam.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Dry_Vans/7.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

</div>






<section id="car-shipping">
    <app-section-title title="Lorem ipsum dolor sit."></app-section-title>

    <div class="container mb-5">
        <div class="row">
            <div class="mx-auto col-11 col-sm-10 col-md-6 col-lg-5 col-xl-4 mt-5">
                <div class="block">
                    <img src="./assets/images/carries/Dry_Vans/8.jpg" alt="Service image"
                        class="img-fluid" height="300px">

                    <!-- <h5 class="mt-4 mb-2">Lorem, ipsum dolor.</h5> -->
                    <p class="text-center mt-3 mb-0">
                        <!-- <strong>
                            <span>|&nbsp;</span>
                        </strong> -->
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolor, animi tenetur aut totam
                        dolorum quidem. Reiciendis, deserunt tempora libero aliquam quia itaque molestiae nulla
                        voluptates dignissimos quod, similique minus quaerat veniam repudiandae quisquam impedit!
                    </p>

                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-6 col-lg-5 col-xl-4 mt-5">
                <div class="block">
                    <img src="./assets/images/carries/Dry_Vans/9.jpg" alt="Service image" class="img-fluid" height="300px">

                    <p class="text-center mt-3 mb-0">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolor, animi tenetur aut totam
                        dolorum quidem. Reiciendis, deserunt tempora libero aliquam quia itaque molestiae nulla
                        voluptates dignissimos quod, similique minus quaerat veniam repudiandae quisquam impedit!
                    </p>

                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-6 col-lg-5 col-xl-4 mt-5">
                <div class="block">
                    <img src="./assets/images/carries/Dry_Vans/10.jpg" alt="Service image" class="img-fluid"
                        height="300px">

                    <p class="text-center mt-3 mb-0">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, in ad esse assumenda sequi
                        temporibus ipsam eius nisi vitae libero modi alias ullam aliquid mollitia consequuntur
                        praesentium ut! Ab dolor quo odit, a fugiat fugit?
                    </p>

                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-6 col-lg-5 col-xl-4 mt-5">
                <div class="block">
                    <img src="./assets/images/carries/Dry_Vans/11.jpg" alt="Service image"
                        class="img-fluid" height="300px">

                    <p class="text-center mt-3 mb-0">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati non numquam eius nihil eum
                        consectetur nam laudantium excepturi ex? Eius nemo quidem aliquam quaerat voluptatem! Soluta,
                        quos exercitationem! Quam quia sequi doloremque laudantium rem optio.
                    </p>

                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-6 col-lg-5 col-xl-4 mt-5">
                <div class="block">
                    <img src="./assets/images/carries/Dry_Vans/12.jpg" alt="Service image" class="img-fluid"
                        height="300px">

                    <p class="text-center mt-3 mb-0">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, in ad esse assumenda sequi
                        temporibus ipsam eius nisi vitae libero modi alias ullam aliquid mollitia consequuntur
                        praesentium ut! Ab dolor quo odit, a fugiat fugit?
                    </p>

                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-6 col-lg-5 col-xl-4 mt-5">
                <div class="block">
                    <img src="./assets/images/carries/Dry_Vans/13.jpg" alt="Service image"
                        class="img-fluid" height="300px">

                    <p class="text-center mt-3 mb-0">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati non numquam eius nihil eum
                        consectetur nam laudantium excepturi ex? Eius nemo quidem aliquam quaerat voluptatem! Soluta,
                        quos exercitationem! Quam quia sequi doloremque laudantium rem optio.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>