<section id="freight-form">
    <app-section-title title="Freight Service"></app-section-title>

    <div class="container">
        <div class="row">
            <div class="col-11 col-md-5 mx-auto ms-md-0">
                <h4 class="text-theme mb-3">About Our Freight Shipping Service</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, fugiat iste, nesciunt perspiciatis qui
                    quas quis, est facilis ipsa unde mollitia magnam commodi rem eum. Dicta debitis officiis nostrum
                    voluptatum sunt. Similique sit quae recusandae placeat laboriosam odio ratione minus, numquam
                    eligendi sunt quidem aut eum libero alias architecto? Distinctio quod ullam sit magnam dolorem.
                    Tempora praesentium nesciunt nobis iure, quam rem molestiae quis dolore ducimus amet magnam, eveniet
                    sed atque natus quos, molestias harum deleniti consectetur labore alias consequuntur commodi dolorum
                    quasi repudiandae. Nesciunt fugit exercitationem quis, saepe nisi architecto nulla vitae quos unde,
                    voluptates adipisci quo veritatis dolorum quaerat voluptatibus?</p>
            </div>
            <div class="col-11 col-md-6 mx-auto me-md-0">
                <h4 class="text-theme text-center mb-3">Freight Rate Calculator</h4>

                <div class="card border shadow-0 py-3 px-4">
                    <form action="">

                        <div class="my-4">
                            <h6>Shipping option</h6>
                            <div class="d-inline-block">
                                <label for="type11" class="me-3">
                                    <input class="form-check-input" id="type11" type="radio" name="type" checked>
                                    LTL (Less-Than-Truckload)
                                </label>
                                <label for="type22">
                                    <input class="form-check-input" id="type22" type="radio" name="type">
                                    Full Truckload
                                </label>
                            </div>
                        </div>

                        <div class="mb-4">
                            <h6>Pickup and deliveery location</h6>
                            <div class="d-flex">
                                <mat-form-field class="w-100 me-2">
                                    <mat-label>Pickup city or postal code</mat-label>
                                    <input type="text" placeholder="City or ZIP" aria-label="Number" matInput
                                        [formControl]="myControl1" [matAutocomplete]="auto1">
                                    <mat-autocomplete #auto1="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptions1 | async"
                                            [value]="option.city">
                                            {{option.city}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                                <mat-form-field class="w-100">
                                    <mat-label>Destination city or postal code</mat-label>
                                    <input type="text" placeholder="City or ZIP" aria-label="Number" matInput
                                        [formControl]="myControl2" [matAutocomplete]="auto2">
                                    <mat-autocomplete #auto2="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptions2 | async"
                                            [value]="option.city">
                                            {{option.city}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="mb-4">
                            <h6>Shipment information</h6>

                            <div class="form-group-area">
                                <div class="d-flex align-items-center">
                                    <label for="">Length
                                        <input type="number" class="form-control rounded-start" min="1" value="34">
                                    </label>
                                    <label for="">Width
                                        <input type="number" class="form-control mx-1" min="1" value="25">
                                    </label>
                                    <label for="">Heigh
                                        <input type="number" class="form-control" min="1" value="30">
                                    </label>
                                    <label for="">&nbsp;
                                        <select class="form-select ms-1 rounded-end">
                                            <option value="1" selected>in</option>
                                            <option value="3">feet</option>
                                        </select>
                                    </label>
                                    <label for="" class="ms-auto">Weight
                                        <input type="number" class="form-control rounded-start" min="1" value="15">
                                    </label>
                                    <label for="">&nbsp;
                                        <select class="form-select ms-1 rounded-end">
                                            <option value="1" selected>lbs</option>
                                            <option value="3">kg</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <button class="btn-theme btn-block">View my rates</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>