<app-main-bar></app-main-bar>

<app-reviews-carousel></app-reviews-carousel>



<section id="car-shipping">
    <app-section-title title="Car Shipping"></app-section-title>

    <div class="container">
        <div class="row">
            <div class="mx-auto col-11 col-sm-10 col-md-6 col-lg-6 col-xl-5">
                <div class="block">
                    <img src="./assets/images/shipping/car-hauler_SuperDispatch.jpg" alt="Service image"
                        class="img-fluid" height="300px">

                    <h5 class="mt-4 mb-2">Lorem, ipsum dolor.</h5>
                    <p>
                        <strong>
                            <span>|&nbsp;</span>
                        </strong>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolor, animi tenetur aut totam
                        dolorum quidem. Reiciendis, deserunt tempora libero aliquam quia itaque molestiae nulla
                        voluptates dignissimos quod, similique minus quaerat veniam repudiandae quisquam impedit!
                    </p>
                    <a class="block-link" href="#">Read more</a>
                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-6 col-lg-6 col-xl-5">
                <div class="block">
                    <img src="./assets/images/shipping/truck.jpg" alt="Service image" class="img-fluid" height="300px">

                    <h5 class="mt-4 mb-2">Lorem, ipsum dolor.</h5>
                    <p>
                        <strong>
                            <span>|&nbsp;</span>
                        </strong>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolor, animi tenetur aut totam
                        dolorum quidem. Reiciendis, deserunt tempora libero aliquam quia itaque molestiae nulla
                        voluptates dignissimos quod, similique minus quaerat veniam repudiandae quisquam impedit!
                    </p>
                    <a class="block-link" href="#">Read more</a>
                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-6 col-lg-6 col-xl-5">
                <div class="block">
                    <img src="./assets/images/shipping/Untitled-design-7.png" alt="Service image" class="img-fluid"
                        height="300px">

                    <h5 class="mt-4 mb-2">Lorem, ipsum dolor.</h5>
                    <p>
                        <strong>
                            <span>|&nbsp;</span>
                        </strong>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, in ad esse assumenda sequi
                        temporibus ipsam eius nisi vitae libero modi alias ullam aliquid mollitia consequuntur
                        praesentium ut! Ab dolor quo odit, a fugiat fugit?
                    </p>
                    <a class="block-link" href="#">Read more</a>
                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-6 col-lg-6 col-xl-5">
                <div class="block">
                    <img src="./assets/images/shipping/shutterstock_2025993740.jpg" alt="Service image"
                        class="img-fluid" height="300px">

                    <h5 class="mt-4 mb-2">Lorem, ipsum dolor.</h5>
                    <p>
                        <strong>
                            <span>|&nbsp;</span>
                        </strong>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati non numquam eius nihil eum
                        consectetur nam laudantium excepturi ex? Eius nemo quidem aliquam quaerat voluptatem! Soluta,
                        quos exercitationem! Quam quia sequi doloremque laudantium rem optio.
                    </p>
                    <a class="block-link" href="#">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>




<section id="freight-form">
    <app-section-title title="Freight Service"></app-section-title>

    <div class="container">
        <div class="row">
            <div class="col-11 col-md-8 col-lg-5 mx-auto ms-lg-0 mt-4">
                <h4 class="text-theme mb-3">About Our Freight Shipping Service</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, fugiat iste, nesciunt perspiciatis qui
                    quas quis, est facilis ipsa unde mollitia magnam commodi rem eum. Dicta debitis officiis nostrum
                    voluptatum sunt. Similique sit quae recusandae placeat laboriosam odio ratione minus, numquam
                    eligendi sunt quidem aut eum libero alias architecto? Distinctio quod ullam sit magnam dolorem.
                    Tempora praesentium nesciunt nobis iure, quam rem molestiae quis dolore ducimus amet magnam, eveniet
                    sed atque natus quos, molestias harum deleniti consectetur labore alias consequuntur commodi dolorum
                    quasi repudiandae. Nesciunt fugit exercitationem quis, saepe nisi architecto nulla vitae quos unde,
                    voluptates adipisci quo veritatis dolorum quaerat voluptatibus?</p>
            </div>
            <div class="col-12 col-md-8 col-lg-6 mx-auto me-lg-0 mt-4">
                <h4 class="text-theme text-center mb-3">Freight Rate Calculator</h4>

                <div class="card border shadow-0 py-3 px-4">
                    <form>

                        <div class="my-4">
                            <h6>Shipping option</h6>
                            <label for="type11" class="me-3">
                                <input class="form-check-input" id="type11" type="radio" name="type" checked>
                                LTL (Less-Than-Truckload)
                            </label>
                            <label for="type22">
                                <input class="form-check-input" id="type22" type="radio" name="type">
                                Full Truckload
                            </label>
                        </div>

                        <div class="mb-4">
                            <h6>Pickup and deliveery location</h6>
                            <mat-form-field class="w-100 me-4">
                                <mat-label>Pickup city or postal code</mat-label>
                                <input type="text" placeholder="City or ZIP" aria-label="Number" matInput
                                    [formControl]="myControl1" [matAutocomplete]="auto1">
                                <mat-autocomplete #auto1="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions1 | async" [value]="option.city">
                                        {{option.city}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>

                            <mat-form-field class="w-100">
                                <mat-label>Destination city or postal code</mat-label>
                                <input type="text" placeholder="City or ZIP" aria-label="Number" matInput
                                    [formControl]="myControl2" [matAutocomplete]="auto2">
                                <mat-autocomplete #auto2="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option.city">
                                        {{option.city}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <div class="mb-4">
                            <h6>Shipment information</h6>

                            <div class="form-group-area">
                                <div class="d-flex align-items-center">
                                    <label>Length
                                        <input type="text" pattern="[0-9]]{10}" class="form-control rounded-start" min="1" value="34">
                                    </label>
                                    <label>Width
                                        <input type="text" class="form-control mx-1" min="1" value="25">
                                    </label>
                                    <label>Heigh
                                        <input type="text" class="form-control" min="1" value="30">
                                    </label>
                                    <label>&nbsp;
                                        <select class="form-select ms-1 rounded-end">
                                            <option value="1" selected>in</option>
                                            <option value="3">feet</option>
                                        </select>
                                    </label>
                                    <label class="ms-auto">Weight
                                        <input type="text" class="form-control rounded-start" min="1" value="15">
                                    </label>
                                    <label>&nbsp;
                                        <select class="form-select ms-1 rounded-end">
                                            <option value="1" selected>lbs</option>
                                            <option value="3">kg</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <button class="btn-theme btn-block">View my rates</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>





<section id="freight-shipping">
    <app-section-title title="Freight Shipping"></app-section-title>

    <div class="container">
        <div class="row">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="img-block">
                    <img src="./assets/images/shipping/Hyster.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="text-block">
                    <h4>Lorem ipsum dolor sit.</h4>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                </div>
            </div>
        </div>
        <div class="row sm-reverse">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="img-block">
                    <img src="./assets/images/shipping/Intermodal-Services-1-1024x614.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="text-block">
                    <h4>Lorem ipsum dolor sit.</h4>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="img-block">
                    <img src="./assets/images/shipping/Impact-Transportation-forklift.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="text-block">
                    <h4>Lorem ipsum dolor sit.</h4>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                </div>
            </div>
        </div>
        <div class="row sm-reverse">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="img-block">
                    <img src="./assets/images/shipping/truck.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="text-block">
                    <h4>Lorem ipsum dolor sit.</h4>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                </div>
            </div>
        </div>
    </div>
</section>