<app-main-bar></app-main-bar>


<app-news-carousel></app-news-carousel>



<section id="car-shipping">
    <app-section-title title="Car Shipping"></app-section-title>

    <div class="container">
        <div class="row">
            <div class="mx-auto col-11 col-sm-10 col-md-4">
                <div class="block">
                    <img src="./assets/images/shipping/car-hauler_SuperDispatch.jpg" alt="Service image"
                        class="img-fluid" height="300px">

                    <h5 class="mt-4 mb-2">Lorem, ipsum dolor.</h5>
                    <p>
                        <strong>
                            <span>|&nbsp;</span>
                        </strong>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolor, animi tenetur aut totam
                        dolorum quidem. Reiciendis, deserunt tempora libero aliquam quia itaque molestiae nulla
                        voluptates dignissimos quod, similique minus quaerat veniam repudiandae quisquam impedit!
                    </p>
                    <a class="block-link" href="#">Read more</a>
                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-4">
                <div class="block">
                    <img src="./assets/images/shipping/truck.jpg" alt="Service image" class="img-fluid" height="300px">

                    <h5 class="mt-4 mb-2">Lorem, ipsum dolor.</h5>
                    <p>
                        <strong>
                            <span>|&nbsp;</span>
                        </strong>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolor, animi tenetur aut totam
                        dolorum quidem. Reiciendis, deserunt tempora libero aliquam quia itaque molestiae nulla
                        voluptates dignissimos quod, similique minus quaerat veniam repudiandae quisquam impedit!
                    </p>
                    <a class="block-link" href="#">Read more</a>
                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-4">
                <div class="block">
                    <img src="./assets/images/shipping/Untitled-design-7.png" alt="Service image" class="img-fluid"
                        height="300px">

                    <h5 class="mt-4 mb-2">Lorem, ipsum dolor.</h5>
                    <p>
                        <strong>
                            <span>|&nbsp;</span>
                        </strong>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, in ad esse assumenda sequi
                        temporibus ipsam eius nisi vitae libero modi alias ullam aliquid mollitia consequuntur
                        praesentium ut! Ab dolor quo odit, a fugiat fugit?
                    </p>
                    <a class="block-link" href="#">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>








<div class="my-5 bg-img jarallax"
    style="background-image: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url(./assets/images/modern-dark.jpg);">
    <div class="container">

        <div class="row">
            <div class="col-11 col-sm-8 col-md-6 mx-auto py-4 d-flex align-items-center">
                <img src="./assets/images/dashboard.jpg" class="w-100 rounded" alt="Service image">
            </div>
            <div class="col-11 col-sm-8 col-md-6 mx-auto p-5 ms-auto d-flex align-items-center flex-column h-100">
                <h3 class="text-light">Save time. Book instantly.</h3>
                <p class="text-light mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores
                    pariatur, blanditiis labore necessitatibus tenetur hic aperiam ipsam. Officiis atque odit quae totam
                    enim. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores
                    pariatur, blanditiis labore necessitatibus tenetur hic aperiam ipsam. Officiis atque odit quae totam
                    enim.</p>
            </div>
        </div>

    </div>
</div>






<section id="freight-shipping">
    <app-section-title title="Freight Shipping"></app-section-title>

    <div class="container">
        <div class="row">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="img-block">
                    <img src="./assets/images/shipping/Hyster.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="text-block">
                    <h4>Lorem ipsum dolor sit.</h4>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                </div>
            </div>
        </div>
        <div class="row sm-reverse">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="img-block">
                    <img src="./assets/images/shipping/Intermodal-Services-1-1024x614.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="text-block">
                    <h4>Lorem ipsum dolor sit.</h4>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="img-block">
                    <img src="./assets/images/shipping/Impact-Transportation-forklift.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="text-block">
                    <h4>Lorem ipsum dolor sit.</h4>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                </div>
            </div>
        </div>
        <div class="row sm-reverse">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="img-block">
                    <img src="./assets/images/shipping/truck.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="text-block">
                    <h4>Lorem ipsum dolor sit.</h4>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                </div>
            </div>
        </div>
    </div>
</section>