<app-bread-crumbs [img_url]="'box.jpg'">
    <div class="d-flex align-items-center h-100">
        <div class="w-100">
            <h1 class="text-light">Lorem, ipsum dolor.</h1>
            <p class="text-light my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />Non unde atque
                exercitationem quos rerum reiciendis.</p>

            <a routerLink="/app/services/freight/how-much-does-it-cost/products" class="btn-theme">Free Form</a>
        </div>
    </div>
</app-bread-crumbs>





<div class="container mb-5 pb-5">

    <div class="row">
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <img src="./assets/images/carries/Box_T/1.jpg" alt="You Tube link" class="img-fluid rounded">
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aliquid tempora magnam totam
                        enim voluptatem similique quas nobis optio odio itaque repudiandae autem illum. Accusamus magni
                        ad harum excepturi neque nemo quae. Suscipit, consequuntur quibusdam.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row sm-reverse">
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <img src="./assets/images/carries/Box_T/2.jpg" alt="You Tube link" class="img-fluid rounded">
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aliquid tempora magnam totam
                        enim voluptatem similique quas nobis optio odio itaque repudiandae autem illum. Accusamus magni
                        ad harum excepturi neque nemo quae. Suscipit, consequuntur quibusdam.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <img src="./assets/images/carries/Box_T/3.jpg" alt="You Tube link" class="img-fluid rounded">
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aliquid tempora magnam totam
                        enim voluptatem similique quas nobis optio odio itaque repudiandae autem illum. Accusamus magni
                        ad harum excepturi neque nemo quae. Suscipit, consequuntur quibusdam.</p>
                </div>
            </div>
        </div>
    </div>

</div>










<div class="container my-5 py-5">
    <app-section-title title="Lorem ipsum dolor sit amet"></app-section-title>

    <div class="text-list">
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, dignissimos? Ipsam, ducimus.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, dignissimos? Ipsam, ducimus.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, dignissimos? Ipsam, ducimus.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, dignissimos? Ipsam, ducimus.</li>
        </ul>
    </div>
</div>