<app-bread-crumbs [img_url]="'flatbate_fre1.jpg'">
    <div class="d-flex align-items-center h-100">
        <div class="w-100 text-end">
            <h1 class="text-light">Lorem ipsum dolor sit<br />amet consectetur.</h1>
            <p class="text-light my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />Non unde atque
                exercitationem quos rerum reiciendis.</p>
            <a routerLink="/app/services/freight/how-much-does-it-cost/products" class="btn-theme">Join US</a>
        </div>
    </div>
</app-bread-crumbs>









<div class="container my-5 py-5">
    <app-section-title title="Lorem ipsum text challange"></app-section-title>

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100 rounded">
                <img src="./assets/images/carries/Flatbate_freight/1.jpg" alt="DPL service image"
                    class="img-fluid w-100 rounded">
            </div>
        </div>
    </div>

    <div class="row sm-reverse">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100 rounded">
                <img src="./assets/images/carries/Flatbate_freight/2.jpg" alt="DPL service image"
                    class="img-fluid w-100 rounded">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100 rounded">
                <img src="./assets/images/carries/Flatbate_freight/3.jpg" alt="DPL service image"
                    class="img-fluid w-100 rounded">
            </div>
        </div>
    </div>

</div>



<div class="container my-5">
    <!-- Tabs navs -->
    <ul class="nav nav-tabs justify-content-center mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab"
                aria-controls="ex1-tabs-1" aria-selected="true">Tab 1</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab"
                aria-controls="ex1-tabs-2" aria-selected="false">Tab 2</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="ex1-tab-3" data-mdb-toggle="tab" href="#ex1-tabs-3" role="tab"
                aria-controls="ex1-tabs-3" aria-selected="false">Tab 3</a>
        </li>
    </ul>
    <!-- Tabs navs -->

    <!-- Tabs content -->
    <div class="tab-content text-dark" id="ex1-content">
        <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
            quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
            cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
            quasi aliquid distinctio vero.
        </div>
        <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
            quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
            cum sequi aut pariatur.
        </div>
        <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
            quibusdam nesciunt neque repellat doloribus!
        </div>
    </div>
    <!-- Tabs content -->
</div>