<app-bread-crumbs [img_url]="'hero-community.jpg'">
    <div class="d-flex align-items-center h-100">
        <div class="w-100">
            <h1 class="text-light">Lorem ipsum dolor sit<br />amet consectetur.</h1>
            <p class="text-light my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />Non unde atque
                exercitationem quos rerum reiciendis.</p>
            <a href="#" class="btn-theme">Join US</a>

        </div>
    </div>
</app-bread-crumbs>






<div class="my-5 py-5 bg-img jarallax"
    style="background-image: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url(./assets/images/modern-dark.jpg);">
    <div class="container">

        <div class="row">
            <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5 d-flex align-items-center">
                <img src="./assets/images/dashboard.jpg" class="w-100 rounded" alt="DPL service image">
            </div>
            <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5 p-5 ms-auto">
                <h3 class="text-light">Save time. Book instantly.</h3>
                <p class="text-light mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores
                    pariatur, blanditiis labore necessitatibus tenetur hic aperiam ipsam. Officiis atque odit quae totam
                    enim.</p>

                <ul class="text-light ps-3">
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>

                <a href="#" class="btn-theme">Book or make offer</a>
            </div>
        </div>

    </div>
</div>





<div class="container">
    <app-section-title title="Lorem ipsum dolor sit amet consectetur."></app-section-title>

    <div class="row">
        <div class="mx-auto col-10 my-5 col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <h4 class="text-center mb-4">Flatbed</h4>
            <img src="./assets/images/carriers/flatbed.png" class="w-100" alt="DPL service image">
        </div>
        <div class="mx-auto col-10 my-5 col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <h4 class="text-center mb-4">Single drop</h4>
            <img src="./assets/images/carriers/single-drop-deck.png" class="w-100" alt="DPL service image">
        </div>
        <div class="mx-auto col-10 my-5 col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <h4 class="text-center mb-4">Double drop</h4>
            <img src="./assets/images/carriers/double-drop-deck-lowboy.png" class="w-100" alt="DPL service image">
        </div>
        <div class="mx-auto col-10 my-5 col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <h4 class="text-center mb-4">Beam</h4>
            <img src="./assets/images/carriers/beam.png" class="w-100" alt="DPL service image">
        </div>
        <div class="mx-auto col-10 my-5 col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <h4 class="text-center mb-4">Perimeter</h4>
            <img src="./assets/images/carriers/perimeter.png" class="w-100" alt="DPL service image">
        </div>
        <div class="mx-auto col-10 my-5 col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <h4 class="text-center mb-4">Multi-axle</h4>
            <img src="./assets/images/carriers/multi-axle-flatbed.png" class="w-100" alt="DPL service image">
        </div>
        <div class="mx-auto col-10 my-5 col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <h4 class="text-center mb-4">Extendable flatbed</h4>
            <img src="./assets/images/carriers/stretch-flatbed.png" class="w-100" alt="DPL service image">
        </div>
        <div class="mx-auto col-10 my-5 col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <h4 class="text-center mb-4">Double drop with detachable deck</h4>
            <img src="./assets/images/carriers/double-drop-deck-detachable-deck.png" class="w-100" alt="DPL service image">
        </div>
    </div>
</div>





<div class="container mb-5 pb-5">

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>

                    <ul class="ps-3">
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100 rounded">
                <img src="./assets/images/carriers/container-lorry.jpg" alt="DPL service image" class="img-fluid w-100 rounded">
            </div>
        </div>
    </div>

</div>
