<app-bread-crumbs img_url="robson.jpg">
    <div class="container">
        <div class="h-100 d-f-a-c-j-c flex-column text-center">
            <h2 class="text-light">Lorem ipsum dolor sit.</h2>
            <p class="text-light w-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, facere
                dignissimos laboriosam dolorum placeat eos illum dolorem ducimus, commodi omnis, quidem amet nemo non
                excepturi.</p>
        </div>
    </div>
</app-bread-crumbs>




<div class="container">
    <app-section-title title="Lorem ipsum dolor sit amet consectetur adipisicing."></app-section-title>

    <p class="text-center mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores commodi ipsam possimus laborum cupiditate
        labore nobis unde doloremque atque iste! Blanditiis, nesciunt nam labore minima sint quos excepturi eius quidem
        consectetur ratione fuga voluptas iusto.</p>

    <div class="row my-5">

        <div class="col-11 col-sm-9 col-md-6 mb-5 mx-auto">
            <div class="d-f-a-c-j-c">
                <i class="fa fa-car fa-2x text-light bg-theme p-3 rounded-3"></i>
                <p class="d-block mb-0 ms-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus, at?</p>
            </div>
        </div>

        <div class="col-11 col-sm-9 col-md-6 mb-5 mx-auto">
            <div class="d-f-a-c-j-c">
                <i class="fa fa-truck fa-2x text-light bg-theme p-3 rounded-3"></i>
                <p class="d-block mb-0 ms-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus, at?</p>
            </div>
        </div>

        <div class="col-11 col-sm-9 col-md-6 mb-5 mx-auto">
            <div class="d-f-a-c-j-c">
                <i class="fa fa-ship fa-2x text-light bg-theme p-3 rounded-3"></i>
                <p class="d-block mb-0 ms-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus, at?</p>
            </div>
        </div>

        <div class="col-11 col-sm-9 col-md-6 mb-5 mx-auto">
            <div class="d-f-a-c-j-c">
                <i class="fa fa-plane fa-2x text-light bg-theme p-3 rounded-3"></i>
                <p class="d-block mb-0 ms-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus, at?</p>
            </div>
        </div>
    </div>
</div>




<div class="container">

    <div class="row sm-reverse">
        <div class="mx-auto me-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
            <div class="h-100 d-f-a-c-j-c">
                <img class="img-fluid rounded-3" src="./assets/images/container-haulage.jpg" alt="Service image">
            </div>
        </div>
        <div class="mx-auto ms-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
            <div class="h-100 d-f-a-c-j-c flex-column">
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia!</h3>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nobis cumque nesciunt quas. Ipsum
                    modi eveniet reiciendis suscipit similique sequi ad qui, delectus culpa iste laudantium dolores
                    nesciunt voluptate minus, cum nisi ab quaerat voluptas.</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nobis cumque nesciunt quas. Ipsum
                    modi eveniet reiciendis suscipit similique sequi ad qui, delectus culpa iste laudantium dolores
                    nesciunt voluptate minus, cum nisi ab quaerat voluptas.</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nobis cumque nesciunt quas. Ipsum
                    modi eveniet reiciendis suscipit similique sequi ad qui, delectus culpa iste laudantium dolores
                    nesciunt voluptate minus, cum nisi ab quaerat voluptas.</p>
            </div>
        </div>
    </div>

</div>




<div class="container">
    <div class="card">
        <div class="row w-100">
            <div class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
                <i class="fa fa-shipping-fast fa-3x text-theme"></i>
                <h3 class="my-4">Lorem ipsum dolor sit.</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed maxime libero! Minima consectetur
                    ipsum enim sint aperiam hic debitis magni earum vero obcaecati quaerat quod omnis, praesentium fugit
                    reiciendis laudantium aspernatur, magnam deserunt animi temporibus eligendi? Veniam, nulla eaque?
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, unde doloremque eaque voluptatem
                    debitis iste accusantium vero omnis, fuga quia laudantium corrupti. Ipsum dolore molestias
                    consequatur quas voluptatibus id dicta adipisci possimus aspernatur nobis.</p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos facere inventore iure
                    similique, quasi hic! Soluta voluptates fugit exercitationem voluptas, quam magnam eveniet? Modi non
                    doloribus officiis earum nobis.</p>
            </div>

            <div class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
                <i class="fa fa-truck-ramp-box fa-3x text-theme"></i>
                <h3 class="my-4">Lorem ipsum dolor sit.</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed maxime libero! Minima consectetur
                    ipsum enim sint aperiam hic debitis magni earum vero obcaecati quaerat quod omnis, praesentium fugit
                    reiciendis laudantium aspernatur, magnam deserunt animi temporibus eligendi? Veniam, nulla eaque?
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, unde doloremque eaque voluptatem
                    debitis iste accusantium vero omnis, fuga quia laudantium corrupti. Ipsum dolore molestias
                    consequatur quas voluptatibus id dicta adipisci possimus aspernatur nobis.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos facere inventore iure
                    similique, quasi hic! Soluta voluptates fugit exercitationem voluptas, quam magnam eveniet? Modi non
                    doloribus officiis earum nobis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
                    eos facere inventore iure similique, quasi hic! Soluta voluptates fugit exercitationem voluptas,
                    quam magnam eveniet? Modi non doloribus officiis earum nobis.</p>
            </div>
        </div>
    </div>
</div>
