<app-bread-crumbs img_url="car.jpg">
    <div class="container">
        <div class="h-100 d-f-a-c-j-c flex-column text-center">
            <h2 class="text-light">Lorem ipsum dolor sit.</h2>
            <p class="text-light w-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, facere
                dignissimos laboriosam dolorum placeat eos illum dolorem ducimus, commodi omnis, quidem amet nemo non
                excepturi.</p>
            <div class="d-flex w-auto">
                <a routerLink="signup" class="btn-theme me-3">Sign Up</a>
                <a routerLink="/app/services/freight/how-much-does-it-cost/products" class="btn-theme">Free Form</a>
            </div>
        </div>
    </div>
</app-bread-crumbs>






<div class="container">
    <app-section-title title="Lorem ipsum dolor sit amet consectetur adipisicing."></app-section-title>

    <div class="row">
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-box"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-box-open"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-truck-ramp-box"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-gauge-high"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-boxes-stacked"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa-solid fa-stopwatch"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
    </div>
</div>






<!-- f.a.q -->
<div class="container mb-5">
    <app-section-title title="F.A.Q"></app-section-title>
    <div class="faq">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Accordion Item #1
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is hidden by default,
                        until the collapse plugin adds the appropriate classes that we use to style each
                        element. These classes control the overall appearance, as well as the showing and
                        hiding via CSS transitions. You can modify any of this with custom CSS or
                        overriding our default variables. It's also worth noting that just about any HTML
                        can go within the <strong>.accordion-body</strong>, though the transition does
                        limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Accordion Item #2
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by
                        default, until the collapse plugin adds the appropriate classes that we use to
                        style each element. These classes control the overall appearance, as well as the
                        showing and hiding via CSS transitions. You can modify any of this with custom CSS
                        or overriding our default variables. It's also worth noting that just about any
                        HTML can go within the <strong>.accordion-body</strong>, though the transition
                        does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default,
                        until the collapse plugin adds the appropriate classes that we use to style each
                        element. These classes control the overall appearance, as well as the showing and
                        hiding via CSS transitions. You can modify any of this with custom CSS or
                        overriding our default variables. It's also worth noting that just about any HTML
                        can go within the <strong>.accordion-body</strong>, though the transition does
                        limit overflow.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>