<app-bread-crumbs [img_url]="'step.jpg'">
    <div class="d-flex align-items-center h-100">
        <div class="w-100">
            <h1 class="text-light">Lorem, ipsum dolor.</h1>
            <p class="text-light my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />Non unde atque
                exercitationem quos rerum reiciendis.</p>

            <a routerLink="/app/services/freight/how-much-does-it-cost/products" class="btn-theme">Lorem ipsum</a>

        </div>
    </div>
</app-bread-crumbs>







<div class="container mb-5 pb-5">
    <app-section-title title="Lorem ipsum dolor sit"></app-section-title>

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <img src="./assets/images/carries/Step_Deck/1.jpg" alt="" class="img-fluid w-100 rounded">
            </div>
        </div>
    </div>


    <div class="row sm-reverse">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aliquid tempora magnam totam
                        enim voluptatem similique quas nobis optio odio itaque repudiandae autem illum. Accusamus magni
                        ad harum excepturi neque nemo quae. Suscipit, consequuntur quibusdam.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Step_Deck/2.jpg" alt="You Tube link" class="img-fluid rounded">
        </div>
    </div>

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Step_Deck/3.jpg" alt="" class="img-fluid rounded">
        </div>
    </div>


    <div class="row sm-reverse">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aliquid tempora magnam totam
                        enim voluptatem similique quas nobis optio odio itaque repudiandae autem illum. Accusamus magni
                        ad harum excepturi neque nemo quae. Suscipit, consequuntur quibusdam.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Step_Deck/4.jpg" alt="You Tube link" class="img-fluid rounded">
        </div>
    </div>

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Step_Deck/5.jpg" alt="" class="img-fluid rounded">
        </div>
    </div>

</div>






<div class="container mb-5 pb-5">
    <app-section-title title="Lorem ipsum dolor sit"></app-section-title>

    <div class="row w-100">
        <div class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
            <i class="fa fa-road fa-3x text-theme"></i>
            <h3 class="my-4">Lorem ipsum dolor sit.</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed maxime libero! Minima consectetur
                ipsum enim sint aperiam hic debitis magni earum vero obcaecati quaerat quod omnis, praesentium fugit
                reiciendis laudantium aspernatur, magnam deserunt animi temporibus eligendi? Veniam, nulla eaque?
            </p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, unde doloremque eaque voluptatem
                debitis iste accusantium vero omnis, fuga quia laudantium corrupti. Ipsum dolore molestias
                consequatur quas voluptatibus id dicta adipisci possimus aspernatur nobis.</p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos facere inventore iure
                similique, quasi hic! Soluta voluptates fugit exercitationem voluptas, quam magnam eveniet? Modi non
                doloribus officiis earum nobis.</p>
        </div>

        <div class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
            <i class="fa fa-ship fa-3x text-theme"></i>
            <h3 class="my-4">Lorem ipsum dolor sit.</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed maxime libero! Minima consectetur
                ipsum enim sint aperiam hic debitis magni earum vero obcaecati quaerat quod omnis, praesentium fugit
                reiciendis laudantium aspernatur, magnam deserunt animi temporibus eligendi? Veniam, nulla eaque?
            </p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, unde doloremque eaque voluptatem
                debitis iste accusantium vero omnis, fuga quia laudantium corrupti. Ipsum dolore molestias
                consequatur quas voluptatibus id dicta adipisci possimus aspernatur nobis.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos facere inventore iure
                similique, quasi hic! Soluta voluptates fugit exercitationem voluptas, quam magnam eveniet? Modi non
                doloribus officiis earum nobis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
                eos facere inventore iure similique, quasi hic! Soluta voluptates fugit exercitationem voluptas,
                quam magnam eveniet? Modi non doloribus officiis earum nobis.</p>
        </div>
        
        <div class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
            <i class="fa fa-road fa-3x text-theme"></i>
            <h3 class="my-4">Lorem ipsum dolor sit.</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed maxime libero! Minima consectetur
                ipsum enim sint aperiam hic debitis magni earum vero obcaecati quaerat quod omnis, praesentium fugit
                reiciendis laudantium aspernatur, magnam deserunt animi temporibus eligendi? Veniam, nulla eaque?
            </p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, unde doloremque eaque voluptatem
                debitis iste accusantium vero omnis, fuga quia laudantium corrupti. Ipsum dolore molestias
                consequatur quas voluptatibus id dicta adipisci possimus aspernatur nobis.</p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos facere inventore iure
                similique, quasi hic! Soluta voluptates fugit exercitationem voluptas, quam magnam eveniet? Modi non
                doloribus officiis earum nobis.</p>
        </div>

        <div class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
            <i class="fa fa-ship fa-3x text-theme"></i>
            <h3 class="my-4">Lorem ipsum dolor sit.</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed maxime libero! Minima consectetur
                ipsum enim sint aperiam hic debitis magni earum vero obcaecati quaerat quod omnis, praesentium fugit
                reiciendis laudantium aspernatur, magnam deserunt animi temporibus eligendi? Veniam, nulla eaque?
            </p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, unde doloremque eaque voluptatem
                debitis iste accusantium vero omnis, fuga quia laudantium corrupti. Ipsum dolore molestias
                consequatur quas voluptatibus id dicta adipisci possimus aspernatur nobis.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos facere inventore iure
                similique, quasi hic! Soluta voluptates fugit exercitationem voluptas, quam magnam eveniet? Modi non
                doloribus officiis earum nobis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
                eos facere inventore iure similique, quasi hic! Soluta voluptates fugit exercitationem voluptas,
                quam magnam eveniet? Modi non doloribus officiis earum nobis.</p>
        </div>
    </div>
</div>