#reviews {
    position: relative;

    .author-name {
        color: #a9a9a9;
    }

    .stars {
        color: #ece119;
    }

    .swiper-button-next-reviews,
    .swiper-button-prev-reviews {
        position: absolute;
        top: 0;
        padding: 10px 15px;
        display: flex;
        font-size: 24px;
        align-items: center;
        justify-content: center;
        color: var(--theme-1);
        border: 1px solid transparent;

        &:hover{
            border: 1px solid var(--theme-1);
            border-radius: 50%;
            color: var(--theme-1);
        }
    }

    .swiper-button-prev-reviews {
        right: 88%;
    }

    .swiper-button-next-reviews {
        right: calc(88% - 50px);
    }
}