<app-bread-crumbs [img_url]="'car.jpg'">
    <div class="d-flex align-items-center h-100">
        <div>
            <h1 class="text-light">Lorem ipsum dolor sit amet.</h1>
            <p class="text-light my-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit.<br />Voluptatem,
                corporis.</p>
        </div>
    </div>
</app-bread-crumbs>



<app-reviews-carousel></app-reviews-carousel>



<section id="private-dealers">
    <div class="container mt-5 py-5">

        <div class="row">
            <div class="mx-auto ms-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="img-block">
                    <img class="img-fluid rounded-3" src="./assets/images/dealers/dealership.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto me-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="text-block">
                    <h3>Lorem ipsum dolor sit amet.</h3>

                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati laborum, quas quam, inventore
                        odit quasi ut quidem asperiores, minus ducimus labore nihil! Impedit minus aspernatur tempore?
                        Soluta, consequatur. Maxime, vitae.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A reprehenderit quisquam enim
                        perspiciatis. Provident porro autem vero vitae molestias, corrupti repellat tempora aut
                        aspernatur illo nemo earum quidem!</p>
                </div>
            </div>
        </div>

        <div class="row sm-reverse">
            <div class="mx-auto me-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="img-block">
                    <img class="img-fluid rounded-3" src="./assets/images/dealers/truck.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto ms-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="text-block">
                    <h3>Lorem ipsum dolor sit amet.</h3>

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nobis cumque nesciunt quas. Ipsum
                        modi eveniet reiciendis suscipit similique sequi ad qui, delectus culpa iste laudantium dolores
                        nesciunt voluptate minus, cum nisi ab quaerat voluptas.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="mx-auto ms-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="img-block">
                    <img class="img-fluid rounded-3" src="./assets/images/dealers/carhauler.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto me-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="text-block">
                    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing.</h3>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus laudantium recusandae unde
                        quibusdam exercitationem corrupti nulla debitis neque, sequi explicabo reiciendis velit cum
                        iusto similique?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque quam impedit natus ad ipsum
                        odit placeat dolor! Repellat!:</p>
                    <ul class="ps-0">
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, ipsum.</li>
                        <li>Lorem ipsum dolor sit amet consectetur.</li>
                        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, quam!</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi alias quam porro?</li>
                    </ul>

                    <a href="#" class="btn-theme btn-inline-block me-auto">Get an instant quote</a>
                </div>
            </div>
        </div>

        <div class="row sm-reverse">
            <div class="mx-auto me-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="img-block">
                    <img class="img-fluid rounded-3" src="./assets/images/dealers/autodealer.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto ms-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="text-block">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas doloremque eum rerum
                        voluptatum neque iusto praesentium placeat quas fugit minus, nemo aut amet quasi consequatur
                        ullam sapiente autem quo sequi.</p>

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas doloremque eum rerum
                        voluptatum neque iusto praesentium placeat quas fugit minus, nemo aut amet quasi consequatur
                        ullam sapiente autem quo sequi.</p>

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas doloremque eum rerum
                        voluptatum neque iusto praesentium placeat quas fugit minus, nemo aut amet quasi consequatur
                        ullam sapiente autem quo sequi.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="mx-auto ms-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="img-block">
                    <img class="img-fluid rounded-3" src="./assets/images/dealers/answers.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto me-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="text-block">
                    <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, praesentium? Totam.</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint minima voluptate porro molestiae
                        ipsam nam harum ex, architecto explicabo accusantium minus magnam iste totam suscipit enim ullam
                        at quaerat. Delectus sunt asperiores, debitis a qui commodi doloribus officiis ipsum ipsam!</p>
                </div>
            </div>
        </div>

    </div>
</section>



<section id="calculate">
    <app-section-title title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia."></app-section-title>

    <div class="container mb-5 pb-5">

        <div class="row">
            <div class="mx-auto ms-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="img-block">
                    <img class="img-fluid rounded-3" src="./assets/images/dealers/distance-bottom.jpg"
                        alt="Service image">
                    <img class="img-2 rounded-3" src="./assets/images/dealers/distance-top.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto me-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="text-block">
                    <h3>Lorem</h3>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab possimus odit ipsa dicta rem
                        quisquam deserunt qui ipsam quos animi, hic recusandae minima ad illo neque corporis facilis
                        eligendi quia aspernatur doloribus provident distinctio minus.</p>
                </div>
            </div>
        </div>

        <div class="row sm-reverse">
            <div class="mx-auto me-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="img-block">
                    <img class="img-fluid rounded-3" src="./assets/images/dealers/router-bottom.jpg"
                        alt="Service image">
                    <img class="img-2 rounded-3" src="./assets/images/dealers/router-top.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto ms-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="text-block">
                    <h3>Lorem ipsum</h3>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dolor aliquid libero eligendi qui
                        labore natus beatae molestiae iste, est quibusdam incidunt vel reprehenderit ducimus blanditiis
                        consequuntur, rem architecto. Quo expedita voluptatum, laudantium obcaecati consequatur
                        suscipit. Repellat quia esse pariatur?</p>

                    <ul class="ps-3">
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="mx-auto ms-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="img-block">
                    <img class="img-fluid rounded-3" src="./assets/images/dealers/car-shipping-date.jpg"
                        alt="Service image">
                    <img class="img-2 rounded-3" src="./assets/images/dealers/car-shipment-date.jpg"
                        alt="Service image">
                </div>
            </div>
            <div class="mx-auto me-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="text-block">
                    <h3>Lorem, ipsum dolor.</h3>

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis iure dolores in molestias
                        minima, expedita recusandae similique vero consequatur nisi repellat architecto aliquid dolorem
                        repudiandae accusamus aut, veniam obcaecati hic!
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas delectus libero possimus culpa
                        magni ullam animi voluptatum quibusdam, dolores repellendus inventore quia sequi amet facere,
                        odio perferendis sapiente voluptatem aspernatur?</p>
                </div>
            </div>
        </div>

        <div class="row sm-reverse">
            <div class="mx-auto me-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="img-block">
                    <img class="img-fluid rounded-3" src="./assets/images/dealers/make-model-bottom.jpg"
                        alt="Service image">
                    <img class="img-2 rounded-3" src="./assets/images/dealers/make-model-top.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto ms-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="text-block">
                    <h3>Lorem, ipsum & dolor.</h3>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius voluptates cupiditate corporis
                        dignissimos nihil tempora neque distinctio. Et, magni ipsam! Architecto accusamus exercitationem
                        libero similique debitis voluptate reiciendis aliquam saepe, quis earum nam officiis praesentium
                        fugit fuga repudiandae? Magnam eius ipsam recusandae ipsum officiis? Quaerat autem iusto
                        suscipit necessitatibus iure!</p>

                    <a href="#" class="btn-theme btn-inline me-auto">Get an instant quote</a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="mx-auto ms-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="img-block">
                    <img class="img-fluid rounded-3" src="./assets/images/dealers/transport-type-bottom.jpg"
                        alt="Service image">
                    <img class="img-2 rounded-3" src="./assets/images/dealers/transport-type-top.jpg"
                        alt="Service image">
                </div>
            </div>
            <div class="mx-auto me-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="text-block">
                    <h3>Lorem, ipsum dolor.</h3>

                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde amet, aliquid perspiciatis neque
                        earum at autem totam reprehenderit temporibus deleniti fuga doloribus necessitatibus nulla
                        aperiam aspernatur consequuntur esse numquam ex animi explicabo corporis exercitationem tempora
                        veritatis. Quibusdam minima quasi minus?</p>
                </div>
            </div>
        </div>

        <div class="row sm-reverse">
            <div class="mx-auto me-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="img-block">
                    <img class="img-fluid rounded-3" src="./assets/images/dealers/vehicle-condition-bottom.jpg"
                        alt="Service image">
                    <img class="img-2 rounded-3" src="./assets/images/dealers/vehicle-condition-top.jpg"
                        alt="Service image">
                </div>
            </div>
            <div class="mx-auto ms-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="text-block">
                    <h3>Lorem, ipsum dolor.</h3>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, animi. Repellat voluptatum
                        ducimus ad fugit exercitationem cumque aliquid quod cupiditate quisquam quis? Perferendis,
                        molestiae maiores repellendus deleniti quasi eius minus sequi ut.</p>

                    <p>**Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, inventore quas. Expedita.</p>

                    <ul class="ps-3">
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="mx-auto ms-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="img-block">
                    <img class="img-fluid rounded-3" src="./assets/images/dealers/shutterstock_1586260336.jpg"
                        alt="Service image">
                    <img class="img-2 rounded-3" src="./assets/images/dealers/shutterstock_285442550.jpg"
                        alt="Service image">
                </div>
            </div>
            <div class="mx-auto me-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="text-block">
                    <h3>Lorem, ipsum dolor.</h3>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus fuga rerum et cum
                        asperiores? Accusantium.</p>

                    <h5>Lorem ipsum dolor sit amet.</h5>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptates doloremque sunt, esse
                        itaque soluta accusamus ad vero eius aliquid iure modi illum maxime iste.</p>
                </div>
            </div>
        </div>

        <div class="row sm-reverse">
            <div class="mx-auto me-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="img-block">
                    <img class="img-fluid rounded-3" src="./assets/images/dealers/population-bottom.jpg"
                        alt="Service image">
                    <img class="img-2 rounded-3" src="./assets/images/dealers/population-top.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto ms-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="text-block">
                    <h3>Lorem, ipsum.</h3>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat neque placeat a et magnam
                        sapiente voluptatum, quas obcaecati quis soluta porro. Eaque, impedit rerum. Saepe ipsum
                        architecto dolore quod animi ullam eaque!</p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="mx-auto ms-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="img-block">
                    <img class="img-fluid rounded-3" src="./assets/images/dealers/seasonality-bottom.jpg"
                        alt="Service image">
                    <img class="img-2 rounded-3" src="./assets/images/dealers/seasonality-top.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto me-md-0 my-5 py-5 col-11 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="text-block">
                    <h3>Lorem</h3>

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia officiis ab libero delectus
                        inventore vitae aut at distinctio repellendus, eius maiores ducimus exercitationem iure!
                        Blanditiis, rerum dolor! Consequuntur.</p>
                </div>
            </div>
        </div>

    </div>
</section>



<section id="car-insuranse">
    <div class="container mt-5 py-5">

        <div class="row">
            <div class="mx-auto ms-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-6">
                <div class="img-block">
                    <img class="img-fluid rounded-3" src="./assets/images/dealers/shutterstock.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto me-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="text-block">
                    <h3>Lorem ipsum dolor sit amet.</h3>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque reiciendis exercitationem numquam
                        deserunt iure nisi inventore assumenda impedit optio velit. Laudantium laborum, enim nostrum,
                        iste facere totam eaque quaerat magni officiis porro architecto accusamus minima ad. Et enim
                        voluptatum dignissimos eligendi aperiam, praesentium ipsa soluta ducimus molestias nulla illo
                        sit?</p>
                    <ul class="ps-3">
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
