<app-bread-crumbs [img_url]="'intermodal.jpg'">
    <div class="d-flex align-items-center h-100">
        <div class="w-100 d-block">
            <h1 class="text-light">Lorem, ipsum dolor.</h1>

            <div class="g-container">
                <ul id="list-example" class="list-unstyled" style="--s: 4">
                    <li>
                        <div (click)="goTo('block-1')" class="text-light">
                            Lorem ipsum
                            <i class="fa fa-arrow-right ms-3"></i>
                        </div>
                    </li>
                    <li>
                        <div (click)="goTo('block-2')" class="text-light">
                            Lorem ipsum
                            <i class="fa fa-arrow-right ms-3"></i>
                        </div>
                    </li>
                    <li>
                        <div (click)="goTo('block-3')" class="text-light">
                            Lorem ipsum
                            <i class="fa fa-arrow-right ms-3"></i>
                        </div>
                    </li>
                    <li>
                        <div (click)="goTo('block-4')" class="text-light">
                            Lorem ipsum
                            <i class="fa fa-arrow-right ms-3"></i>
                        </div>
                    </li>
                    <li>
                        <div (click)="goTo('block-1')" class="text-light">
                            Lorem ipsum
                            <i class="fa fa-arrow-right ms-3"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</app-bread-crumbs>



<div class="container">
    <app-section-title title="Your simpler way to book is here"></app-section-title>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ab quo aspernatur sequi
        saepe magni ipsam ipsa
        tempore id vel, expedita maxime perferendis ipsum quod eaque, sint atque facere temporibus. At dicta soluta
        exercitationem commodi nemo provident maiores odit consectetur, ut repellendus dolor perspiciatis nam cupiditate
        doloremque sed?</p>

    <img src="./assets/images/2.jpg" class="w-100 my-4 rounded" alt="Service image">
</div>



<div class="container mb-5 pb-5">
    <app-section-title title="Find freight on your terms"></app-section-title>

    <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque in aut nostrum voluptatum, et
        illo voluptatem modi quam blanditiis, nulla nam impedit ex pariatur ea ut! Similique excepturi dignissimos
        quibusdam.</p>


    <div class="row mt-5">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>In the office</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi ex laudantium debitis qui at
                        dolorum totam facere rerum minima tempora?</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/Load-board-tertiary-image.jpg" alt="Service image" class="img-fluid rounded">
        </div>
    </div>


    <div class="row mt-5 sm-reverse">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni accusantium quo, libero rem non
                        voluptatibus deleniti praesentium deserunt est.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5 video-block">
            <img src="./assets/images/phonejpg.jpg" alt="You Tube link" class="img-fluid rounded">
            <button data-mdb-toggle="modal" data-mdb-target="#videoModal" class="play-btn d-flex align-items-center
            justify-content-center" href="#"><i class="fa fa-play"></i></button>


            <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <iframe width="100%" height="80%" frameborder="0" allowfullscreen
                                allow="autoplay; encrypted-media; clipboard-write; gyroscope; picture-in-picture; web-share"
                                src="https://www.youtube.com/embed/UQq3wAld3zc?rel=0&autoplay=0&mute=0&controls=1&loop=1">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>In the office</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi ex laudantium debitis qui at
                        dolorum totam facere rerum minima tempora? Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Labore necessitatibus impedit, velit quae magni delectus quis ipsum nulla adipisci
                        commodi!</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/showroom.jpg" alt="Service image" class="img-fluid rounded">
        </div>
    </div>

</div>




<div class="my-5 bg-img jarallax"
    style="background-image: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url(./assets/images/modern-dark.jpg);">
    <div class="container">

        <div class="row">
            <div class="col-11 col-sm-8 col-md-6 mx-auto py-4 d-flex align-items-center">
                <img src="./assets/images/dashboard.jpg" class="w-100 rounded" alt="Service image">
            </div>
            <div class="col-11 col-sm-8 col-md-6 mx-auto p-5 ms-auto">
                <h3 class="text-light">Save time. Book instantly.</h3>
                <p class="text-light mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores
                    pariatur, blanditiis labore necessitatibus tenetur hic aperiam ipsam. Officiis atque odit quae totam
                    enim.</p>

                <ul class="text-light ps-3">
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>

                <a href="#" class="btn-theme">Book or make offer</a>
            </div>
        </div>

    </div>
</div>






<!-- f.a.q -->
<div class="container mb-5">
    <app-section-title title="F.A.Q"></app-section-title>
    <div class="faq">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Accordion Item #1
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is hidden by default,
                        until the collapse plugin adds the appropriate classes that we use to style each
                        element. These classes control the overall appearance, as well as the showing and
                        hiding via CSS transitions. You can modify any of this with custom CSS or
                        overriding our default variables. It's also worth noting that just about any HTML
                        can go within the <strong>.accordion-body</strong>, though the transition does
                        limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Accordion Item #2
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by
                        default, until the collapse plugin adds the appropriate classes that we use to
                        style each element. These classes control the overall appearance, as well as the
                        showing and hiding via CSS transitions. You can modify any of this with custom CSS
                        or overriding our default variables. It's also worth noting that just about any
                        HTML can go within the <strong>.accordion-body</strong>, though the transition
                        does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default,
                        until the collapse plugin adds the appropriate classes that we use to style each
                        element. These classes control the overall appearance, as well as the showing and
                        hiding via CSS transitions. You can modify any of this with custom CSS or
                        overriding our default variables. It's also worth noting that just about any HTML
                        can go within the <strong>.accordion-body</strong>, though the transition does
                        limit overflow.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>