<app-bread-crumbs img_url="warehouse.webp">
    <div class="container">
        <div class="h-100 d-f-a-c-j-c flex-column text-center">
            <h2 class="text-light">Lorem ipsum dolor sit.</h2>
            <p class="text-light w-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, facere
                dignissimos laboriosam dolorum placeat eos illum dolorem ducimus, commodi omnis, quidem amet nemo non
                excepturi.</p>
        </div>
    </div>
</app-bread-crumbs>



<div class="container">
    <div class="py-5 my-5 d-f-a-c-j-c text-center">
        <div>
            <p class="fw-bold mb-5 px-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia maiores quis
                illo
                sequi quos aliquid, nobis
                sed provident a ut voluptatem error cumque. Ab esse, quos maxime fugit nulla explicabo tempora corrupti
                dolorem unde sint ut laboriosam, voluptatum ullam! Voluptatum unde animi ullam alias quod incidunt
                impedit
                esse et voluptas dolor. Totam odit hic placeat impedit! Doloribus explicabo minus, fugiat accusantium
                sapiente accusamus! Mollitia deserunt dolores dolorum velit perspiciatis itaque hic porro blanditiis
                tempora? Optio, commodi laboriosam veritatis magnam alias cupiditate molestiae esse est blanditiis
                cumque!
                Non atque maxime repellat repellendus, alias, consectetur reiciendis illum voluptatem quae, beatae
                voluptatibus dolorum? Aliquid suscipit nemo debitis expedita modi earum, ea nam sunt dolore commodi
                illum
                quasi non facilis doloribus cum sint nisi iure? Commodi nulla consequatur beatae error doloremque
                eligendi
                eaque veritatis unde facilis quasi hic cupiditate eos soluta, nihil, magnam iste expedita perferendis
                nostrum magni ipsa minus. Soluta omnis recusandae iste.</p>
            <a href="#" class="btn-theme">Click to explore</a>
        </div>
    </div>
</div>



<div class="container">

    <div class="row sm-reverse">
        <div class="mx-auto me-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
            <div class="h-100 d-f-a-c-j-c">
                <img class="img-fluid rounded-3" src="./assets/images/bulk.png" alt="Service image">
            </div>
        </div>
        <div class="mx-auto ms-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
            <div class="h-100 d-f-a-c-j-c flex-column">
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia!</h3>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nobis cumque nesciunt quas. Ipsum
                    modi eveniet reiciendis suscipit similique sequi ad qui, delectus culpa iste laudantium dolores
                    nesciunt voluptate minus, cum nisi ab quaerat voluptas.</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nobis cumque nesciunt quas. Ipsum
                    modi eveniet reiciendis suscipit similique sequi ad qui, delectus culpa iste laudantium dolores
                    nesciunt voluptate minus, cum nisi ab quaerat voluptas.</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nobis cumque nesciunt quas. Ipsum
                    modi eveniet reiciendis suscipit similique sequi ad qui, delectus culpa iste laudantium dolores
                    nesciunt voluptate minus, cum nisi ab quaerat voluptas.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="mx-auto ms-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
            <div class="h-100 d-f-a-c-j-c">
                <img class="img-fluid rounded-3" src="./assets/images/container-haulage.jpg" alt="Service image">
            </div>
        </div>
        <div class="mx-auto me-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
            <div class="h-100 d-f-a-c-j-c flex-column">
                <h3>Lorem ipsum dolor sit amet.</h3>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati laborum, quas quam, inventore
                    odit quasi ut quidem asperiores, minus ducimus labore nihil! Impedit minus aspernatur tempore?
                    Soluta, consequatur. Maxime, vitae.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A reprehenderit quisquam enim
                    perspiciatis. Provident porro autem vero vitae molestias, corrupti repellat tempora aut
                    aspernatur illo nemo earum quidem!</p>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="card">
        <div class="row w-100">
            <div class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
                <i class="fa fa-road fa-3x text-theme"></i>
                <h3 class="my-4">Lorem ipsum dolor sit.</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed maxime libero! Minima consectetur
                    ipsum enim sint aperiam hic debitis magni earum vero obcaecati quaerat quod omnis, praesentium fugit
                    reiciendis laudantium aspernatur, magnam deserunt animi temporibus eligendi? Veniam, nulla eaque?
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, unde doloremque eaque voluptatem
                    debitis iste accusantium vero omnis, fuga quia laudantium corrupti. Ipsum dolore molestias
                    consequatur quas voluptatibus id dicta adipisci possimus aspernatur nobis.</p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos facere inventore iure
                    similique, quasi hic! Soluta voluptates fugit exercitationem voluptas, quam magnam eveniet? Modi non
                    doloribus officiis earum nobis.</p>
            </div>

            <div class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
                <i class="fa fa-ship fa-3x text-theme"></i>
                <h3 class="my-4">Lorem ipsum dolor sit.</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed maxime libero! Minima consectetur
                    ipsum enim sint aperiam hic debitis magni earum vero obcaecati quaerat quod omnis, praesentium fugit
                    reiciendis laudantium aspernatur, magnam deserunt animi temporibus eligendi? Veniam, nulla eaque?
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, unde doloremque eaque voluptatem
                    debitis iste accusantium vero omnis, fuga quia laudantium corrupti. Ipsum dolore molestias
                    consequatur quas voluptatibus id dicta adipisci possimus aspernatur nobis.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos facere inventore iure
                    similique, quasi hic! Soluta voluptates fugit exercitationem voluptas, quam magnam eveniet? Modi non
                    doloribus officiis earum nobis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
                    eos facere inventore iure similique, quasi hic! Soluta voluptates fugit exercitationem voluptas,
                    quam magnam eveniet? Modi non doloribus officiis earum nobis.</p>
            </div>
        </div>
    </div>
</div>




<app-short-contact-us-block></app-short-contact-us-block>