#mission {
    background: linear-gradient(180deg, rgba(0, 0, 0, .3) 41.76%, rgba(36, 47, 85, .75) 100%), url(../../../../assets/images/breadcrumbs/team.jpg) no-repeat center/cover;
    width: 100%;
    height: 80vh;
}


.portraits-box {
    width: 100%;
    min-height: 600px;

    svg {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: visible;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        #motionPath {
            -webkit-transform: translate(50px, 50px);
            transform: translate(50px, 50px);
        }

        #motionPath_2 {
            -webkit-transform: translate(145px, 145px);
            transform: translate(145px, 145px);
        }

        .circle {
            stroke-width: 4;
            stroke: #fff;
        }

        #image image {
            width: 100px;
            height: 100px;
        }

        #image_2 image {
            width: 93px;
            height: 93px;
        }

        #image_3 image {
            width: 88px;
            height: 88px;
        }

        #image_4 image {
            width: 98px;
            height: 98px;
        }

        #image_5 image {
            width: 80px;
            height: 80px;
        }

        #image_6 image {
            width: 60px;
            height: 60px;
        }

        #image_7 image {
            width: 65px;
            height: 65px;
        }

        #logo_headline image {
            width: 134px;
            height: 134px;
        }

        #logo_headline_wrapper {
            -webkit-transform: translate(31%, 31%);
            transform: translate(31%, 31%);
        }
    }
}


@media screen and (max-width: 1200px) {
    .portraits-box svg #logo_headline_wrapper {
        -webkit-transform: translate(35%, 31%);
        transform: translate(35%, 31%);
    }
}


@media screen and (max-width: 769px) {
    .portraits-box {
        transform: translateX(-10%);

        svg #logo_headline_wrapper {
            -webkit-transform: translate(38%, 31%) !important;
            transform: translate(38%, 31%) !important;
        }
    }
}


@media screen and (max-width: 650px) {
    .portraits-box {
        margin-top: 40px;
    }
}
