<div class="container">
    <div class="row">
        <div class="col-11 col-sm-10 col-md-4 mx-auto mt-5">
            <div class="d-f-a-c-j-c h-100">
                <div>
                    <h1 class="text-theme">Lorem, ipsum dolor.</h1>
                    <p class="text-theme my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non unde
                        atque
                        exercitationem quos rerum reiciendis.</p>
                    <a href="#" class="btn-theme">Join US</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-7 ms-auto mt-5 px-0">

            <div class="portraits-box">
                <svg width="100%" height="680px">
                    <path id="motionPath"
                        d="M546.5 274C546.5 425.051 424.273 547.5 273.5 547.5C122.727 547.5 0.5 425.051 0.5 274C0.5 122.949 122.727 0.5 273.5 0.5C424.273 0.5 546.5 122.949 546.5 274Z"
                        fill="none" stroke="#E3EEFF"></path>
                    <path id="motionPath_2"
                        d="M354.5 178C354.5 276.032 275.253 355.5 177.5 355.5C79.7469 355.5 0.5 276.032 0.5 178C0.5 79.9681 79.7469 0.5 177.5 0.5C275.253 0.5 354.5 79.9681 354.5 178Z"
                        fill="none" stroke="#E3EEFF"></path>
                    <path id="image_path" d="M0 0 L0 30 L30 50 Z" fill="none"></path>
                    <path id="image_path_2" d="M10 10 L10 50 L50 60 Z" fill="none"></path>
                    <path id="image_path_3" d="M0 0 l20 0 l0 50 Z" fill="none"></path>
                    <path id="image_path_4" d="M0 30 l40 0 l20 50 Z" fill="none"></path>
                    <path id="image_path_5" d="M0 0 l10 20 l20 50 Z" fill="none"></path>
                    <path id="image_path_6" d="M0 40 l0 2 l40 -30 Z" fill="none"></path>
                    <path id="image_path_7" d="M0 0 l20 0 l0 20 Z" fill="none"></path>
                    <defs>
                        <filter id="shadow">
                            <feDropShadow dx="0" dy="0" stdDeviation="3" flood-color="rgba(22, 54, 100, 0.13)">
                            </feDropShadow>
                        </filter>
                        <pattern id="image" x="40" y="30" patternUnits="userSpaceOnUse" height="100" width="100">
                            <image xlink:href="./assets/images/about-us/portrait.png"></image>
                            <pattern></pattern>
                            <pattern id="image_2" x="60" y="53" patternUnits="userSpaceOnUse" height="93" width="93">
                                <image xlink:href="./assets/images/about-us/portrait_2.png"></image>
                                <pattern></pattern>
                                <pattern id="image_3" x="25" y="22" patternUnits="userSpaceOnUse" height="88"
                                    width="88">
                                    <image xlink:href="./assets/images/about-us/portrait_3.png"></image>
                                    <pattern></pattern>
                                    <pattern id="image_4" x="85" y="10" patternUnits="userSpaceOnUse" height="98"
                                        width="98">
                                        <image xlink:href="./assets/images/about-us/portrait_4.png"></image>
                                        <pattern></pattern>
                                        <pattern id="image_5" x="-5" y="55" patternUnits="userSpaceOnUse" height="80"
                                            width="80">
                                            <image xlink:href="./assets/images/about-us/portrait_5.png"></image>
                                            <pattern></pattern>
                                            <pattern id="image_6" x="-5" y="0" patternUnits="userSpaceOnUse" height="60"
                                                width="60">
                                                <image xlink:href="./assets/images/about-us/portrait_6.png"></image>
                                                <pattern></pattern>
                                                <pattern id="image_7" x="43.5" y="47.5" patternUnits="userSpaceOnUse"
                                                    height="70" width="70">
                                                    <image xlink:href="./assets/images/about-us/portrait_7.png"></image>
                                                    <pattern></pattern>
                                                    <pattern id="logo_headline" x="60" y="50"
                                                        patternUnits="userSpaceOnUse" height="300" width="300">
                                                        <image xlink:href="./assets/images/about-us/logo_headline.png">
                                                        </image>
                                                        <pattern></pattern>
                                                    </pattern>
                                                </pattern>
                                            </pattern>
                                        </pattern>
                                    </pattern>
                                </pattern>
                            </pattern>
                        </pattern>
                    </defs>
                    <g id="logo_headline_wrapper" filter="url(#filter0_d)">
                        <ellipse cx="120.5" cy="114" rx="107.5" ry="107" fill="#0139FF"></ellipse>
                        <ellipse cx="120.5" cy="114" rx="107.5" ry="107" fill="url(#logo_headline)"></ellipse>
                    </g>
                    <defs>
                        <filter id="filter0_d" x="0" y="0" width="241" height="240" filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
                            <feOffset dy="6"></feOffset>
                            <feGaussianBlur stdDeviation="6.5"></feGaussianBlur>
                            <feColorMatrix type="matrix"
                                values="0 0 0 0 0.865972 0 0 0 0 0.894742 0 0 0 0 0.966667 0 0 0 0.8 0"></feColorMatrix>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend>
                        </filter>
                    </defs>
                    <circle id="circle_image" class="circle" r="50" cx="91" cy="180"
                        style="fill:url(#image); filter:url(#shadow);"></circle>
                    <circle id="circle_image_2" class="circle" r="46" cx="480" cy="100"
                        style="fill:url(#image_2); filter:url(#shadow);"></circle>
                    <circle id="circle_image_3" class="circle" r="44" cx="596" cy="330"
                        style="fill:url(#image_3); filter:url(#shadow);"></circle>
                    <circle id="circle_image_4" class="circle" r="49" cx="430" cy="453"
                        style="fill:url(#image_4); filter:url(#shadow);"></circle>
                    <circle id="circle_image_5" class="circle" r="40" cx="115" cy="500"
                        style="fill:url(#image_5); filter:url(#shadow);"></circle>
                    <circle id="circle_image_6" class="circle" r="30" cx="146" cy="330"
                        style="fill:url(#image_6); filter:url(#shadow);"></circle>
                    <circle id="circle_image_7" class="circle" r="34.5" cx="286" cy="150"
                        style="fill:url(#image_7); filter:url(#shadow);"></circle>
                    <animateMotion xlink:href="#circle_image" dur="30s" begin="0" fill="freeze"
                        repeatCount="indefinite">
                        <mpath xlink:href="#image_path"></mpath>
                    </animateMotion>
                    <animateMotion xlink:href="#circle_image_2" dur="30s" begin="0" fill="freeze"
                        repeatCount="indefinite">
                        <mpath xlink:href="#image_path_2"></mpath>
                    </animateMotion>
                    <animateMotion xlink:href="#circle_image_3" dur="30s" begin="0" fill="freeze"
                        repeatCount="indefinite">
                        <mpath xlink:href="#image_path_3"></mpath>
                    </animateMotion>
                    <animateMotion xlink:href="#circle_image_4" dur="30s" begin="0" fill="freeze"
                        repeatCount="indefinite">
                        <mpath xlink:href="#image_path_4"></mpath>
                    </animateMotion>
                    <animateMotion xlink:href="#circle_image_5" dur="30s" begin="0" fill="freeze"
                        repeatCount="indefinite">
                        <mpath xlink:href="#image_path_5"></mpath>
                    </animateMotion>
                    <animateMotion xlink:href="#circle_image_6" dur="30s" begin="0" fill="freeze"
                        repeatCount="indefinite">
                        <mpath xlink:href="#image_path_6"></mpath>
                    </animateMotion>
                    <animateMotion xlink:href="#circle_image_7" dur="30s" begin="0" fill="freeze"
                        repeatCount="indefinite">
                        <mpath xlink:href="#image_path_7"></mpath>
                    </animateMotion>
                </svg>
            </div>

        </div>
    </div>
</div>




<div class="container my-5 py-5">
    <div class="row my-5 py-5">
        <div class="col-10 col-sm-8 col-md-7 col-lg-6 mx-auto">
            <img src="./assets/logo.png" class="w-25" alt="DPL service image">
            <h2>Lorem, ipsum dolor.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint architecto pariatur, eius aliquam
                voluptatibus vitae culpa deserunt nostrum a consequuntur velit repudiandae, incidunt laudantium dicta?
            </p>
        </div>
    </div>
</div>




<section id="mission">
    <div class="container h-100 text-center">
        <div class="row h-100">
            <div class="mx-auto mt-auto pb-5 col-10 col-sm-8 col-md-7 col-lg-6">
                <h2 class="text-light">Lorem, ipsum.</h2>
                <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, error optio! Rem
                    consequuntur
                    molestias quasi soluta quibusdam alias?</p>
            </div>
        </div>
    </div>
</section>









<div class="container overflow-hidden mb-5 pb-5">
    <app-section-title title="Lorem ipsum dolor sit"></app-section-title>

    <div class="row">
        <div class="col-11 col-sm-10 col-md-6 mt-5 mx-auto">
            <div class="d-flex align-items-center h-100">
                <img src="./assets/images/carriers/container-lorry.jpg" alt="DPL service image"
                    class="img-fluid w-100 rounded">
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-6 mt-5 mx-auto">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row sm-reverse">
        <div class="col-11 col-sm-10 col-md-6 mt-5 mx-auto p-5 border rounded-pill">
            <div class="d-flex align-items-center h-100">
                <img src="./assets/images/carriers/full-truck.webp" alt="DPL service image"
                    class="rounded-pill" style="width: 140%;">
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-6 mt-5 mx-auto">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aliquid tempora magnam totam
                        enim voluptatem similique quas nobis optio odio itaque repudiandae autem illum. Accusamus magni
                        ad harum excepturi neque nemo quae. Suscipit, consequuntur quibusdam.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-11 col-sm-10 col-md-6 mt-5 mx-auto">
            <div class="d-flex align-items-center h-100">
                <img src="./assets/images/carriers/2-truck-buck.webp" alt="DPL service image" class="img-fluid rounded">
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-6 mt-5 mx-auto">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row sm-reverse">
        <div class="col-11 col-sm-10 col-md-6 mt-5 mx-auto p-5 border rounded-pill">
            <div class="d-flex align-items-center h-100">
                <img src="./assets/images/carriers/trauck-back.webp" alt="DPL service image"
                    class="img-fluid rounded-pill" style="width: 140%;">
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-6 mt-5 mx-auto">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aliquid tempora magnam totam
                        enim voluptatem similique quas nobis optio odio itaque repudiandae autem illum. Accusamus magni
                        ad harum excepturi neque nemo quae. Suscipit, consequuntur quibusdam.</p>
                </div>
            </div>
        </div>
    </div>

</div>


<app-faq></app-faq>
