<section id="freight-shipping">
    <app-section-title title="Freight Shipping"></app-section-title>

    <div class="container">
        <div class="row">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="img-block">
                    <img src="../../../../assets/images/shipping/Hyster.jpg" alt="">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="text-block">
                    <h4>Lorem ipsum dolor sit.</h4>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                </div>
            </div>
        </div>
        <div class="row sm-reverse">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="img-block">
                    <img src="../../../../assets/images/shipping/Intermodal-Services-1-1024x614.jpg" alt="">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="text-block">
                    <h4>Lorem ipsum dolor sit.</h4>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="img-block">
                    <img src="../../../../assets/images/shipping/Impact-Transportation-forklift.jpg" alt="">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="text-block">
                    <h4>Lorem ipsum dolor sit.</h4>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                </div>
            </div>
        </div>
        <div class="row sm-reverse">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="img-block">
                    <img src="../../../../assets/images/shipping/truck.jpg" alt="">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="text-block">
                    <h4>Lorem ipsum dolor sit.</h4>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores magnam eveniet id
                        dolor, quaerat sit consequatur saepe hic inventore cupiditate praesentium doloremque eos
                        nesciunt, vel quis unde! Repellendus aut fuga odio dolor autem magni eaque eos sunt harum
                        itaque?</p>
                </div>
            </div>
        </div>
    </div>
</section>