<app-bread-crumbs [img_url]="'john-simmons.jpg'">
    <div class="d-flex align-items-center h-100">
        <div>
            <h1 class="text-light">Lorem, ipsum dolor.</h1>
            <p class="text-light my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />Non unde atque
                exercitationem quos rerum reiciendis.</p>
            <a href="#" class="btn-theme">Become a carrier</a>
        </div>
    </div>
</app-bread-crumbs>


<div class="container">
    <app-section-title title="Lorem ipsum dolor sit amet consectetur adipisicing elit."></app-section-title>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ab quo aspernatur sequi
        saepe magni ipsam ipsa
        tempore id vel, expedita maxime perferendis ipsum quod eaque, sint atque facere temporibus. At dicta soluta
        exercitationem commodi nemo provident maiores odit consectetur, ut repellendus dolor perspiciatis nam cupiditate
        doloremque sed?</p>

    <img src="./assets/images/transportation_shipping.jpg" class="w-100 my-4 rounded" alt="">
</div>




<div class="container mb-5 pb-5">
    <app-section-title title="Lorem ipsum dolor sit"></app-section-title>

    <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque in aut nostrum voluptatum, et
        illo voluptatem modi quam blanditiis, nulla nam impedit ex pariatur ea ut! Similique excepturi dignissimos
        quibusdam.</p>


    <div class="row mt-5">
        <div class="col-6 mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi ex laudantium debitis qui at
                        dolorum totam facere rerum minima tempora?</p>
                </div>
            </div>
        </div>
        <div class="col-6 mt-5">
            <img src="./assets/images/AdobeStock_111940874.jpeg" alt="" class="img-fluid rounded">
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-6 mt-5 video-block">
            <img src="./assets/images/freight-shipping.jpg" alt="You Tube link" class="img-fluid rounded">
        </div>
        <div class="col-6 mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni accusantium quo, libero rem non
                        voluptatibus deleniti praesentium deserunt est.</p>
                </div>
            </div>
        </div>
    </div>

</div>




<div class="mb-5 bg-img jarallax"
    style="background-image: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url(./assets/images/modern-dark.jpg);">
    <div class="container">

        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <img src="./assets/images/delivery_by_truck.jpg" class="w-100 rounded" alt="">
            </div>
            <div class="col-6 p-5 ms-auto">
                <h3 class="text-light">Save time. Book instantly.</h3>
                <p class="text-light mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores
                    pariatur, blanditiis labore necessitatibus tenetur hic aperiam ipsam. Officiis atque odit quae totam
                    enim.</p>

                <ul class="text-light ps-3">
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>

                <a href="#" class="btn-theme">Book or make offer</a>
            </div>
        </div>

    </div>
</div>



<app-faq></app-faq>