<app-bread-crumbs [img_url]="'john-simmons.jpg'">
    <div class="d-flex align-items-center h-100">
        <div>
            <h1 class="text-light">Lorem, ipsum dolor.</h1>
            <p class="text-light my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />Non unde atque
                exercitationem quos rerum reiciendis.</p>
            <a routerLink="/app/services/freight/how-much-does-it-cost/products" class="btn-theme">Become a carrier</a>
        </div>
    </div>
</app-bread-crumbs>





<div class="container">
    <app-section-title title="Lorem ipsum dolor sit amet consectetur adipisicing elit."></app-section-title>



    <div class="container pb-5">
        <div class="card">
            <div class="row w-100">
                <div class="col-12 col-sm-10 col-md-9 col-lg-6 mx-auto py-4 px-5 mt-4">
                    <i class="fa fa-road fa-3x text-theme"></i>
                    <h3 class="my-4">Lorem ipsum dolor sit.</h3>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed maxime libero! Minima
                        consectetur
                        ipsum enim sint aperiam hic debitis magni earum vero obcaecati quaerat quod omnis, praesentium
                        fugit
                        reiciendis laudantium aspernatur, magnam deserunt animi temporibus eligendi? Veniam, nulla
                        eaque?
                    </p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, unde doloremque eaque voluptatem
                        debitis iste accusantium vero omnis, fuga quia laudantium corrupti. Ipsum dolore molestias
                        consequatur quas voluptatibus id dicta adipisci possimus aspernatur nobis.</p>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos facere inventore iure
                        similique, quasi hic! Soluta voluptates fugit exercitationem voluptas, quam magnam eveniet? Modi
                        non
                        doloribus officiis earum nobis.</p>
                </div>

                <div class="col-12 col-sm-10 col-md-9 col-lg-6 mx-auto py-4 px-5 mt-4">
                    <i class="fa fa-ship fa-3x text-theme"></i>
                    <h3 class="my-4">Lorem ipsum dolor sit.</h3>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed maxime libero! Minima
                        consectetur
                        ipsum enim sint aperiam hic debitis magni earum vero obcaecati quaerat quod omnis, praesentium
                        fugit
                        reiciendis laudantium aspernatur, magnam deserunt animi temporibus eligendi? Veniam, nulla
                        eaque?
                    </p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, unde doloremque eaque voluptatem
                        debitis iste accusantium vero omnis, fuga quia laudantium corrupti. Ipsum dolore molestias
                        consequatur quas voluptatibus id dicta adipisci possimus aspernatur nobis.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos facere inventore iure
                        similique, quasi hic! Soluta voluptates fugit exercitationem voluptas, quam magnam eveniet? Modi
                        non
                        doloribus officiis earum nobis. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate
                        eos facere inventore iure similique, quasi hic! Soluta voluptates fugit exercitationem voluptas,
                        quam magnam eveniet? Modi non doloribus officiis earum nobis.</p>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container mb-5 pb-5">
    <app-section-title title="Lorem ipsum dolor sit"></app-section-title>


    <div class="row mt-5">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi ex laudantium debitis qui at
                        dolorum totam facere rerum minima tempora?</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/AdobeStock_111940874.jpeg" alt="Service image" class="img-fluid rounded">
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5 video-block">
            <img src="./assets/images/freight-shipping.jpg" alt="You Tube link" class="img-fluid rounded">
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni accusantium quo, libero rem non
                        voluptatibus deleniti praesentium deserunt est.</p>
                </div>
            </div>
        </div>
    </div>

</div>




<div class="mb-5 bg-img jarallax"
    style="background-image: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url(./assets/images/modern-dark.jpg);">
    <div class="container">

        <div class="row">
            <div class="col-11 col-sm-8 col-md-6 mx-auto py-4 d-flex align-items-center">
                <img src="./assets/images/delivery_by_truck.jpg" class="w-100 rounded" alt="Service image">
            </div>
            <div class="col-11 col-sm-8 col-md-6 mx-auto p-5 ms-auto">
                <h3 class="text-light">Save time. Book instantly.</h3>
                <p class="text-light mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores
                    pariatur, blanditiis labore necessitatibus tenetur hic aperiam ipsam. Officiis atque odit quae totam
                    enim.</p>

                <ul class="text-light ps-3">
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>

                <a href="#" class="btn-theme">Book or make offer</a>
            </div>
        </div>

    </div>
</div>





<!-- f.a.q -->
<div class="container mb-5">
    <app-section-title title="F.A.Q"></app-section-title>
    <div class="faq">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Accordion Item #1
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is hidden by default,
                        until the collapse plugin adds the appropriate classes that we use to style each
                        element. These classes control the overall appearance, as well as the showing and
                        hiding via CSS transitions. You can modify any of this with custom CSS or
                        overriding our default variables. It's also worth noting that just about any HTML
                        can go within the <strong>.accordion-body</strong>, though the transition does
                        limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Accordion Item #2
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by
                        default, until the collapse plugin adds the appropriate classes that we use to
                        style each element. These classes control the overall appearance, as well as the
                        showing and hiding via CSS transitions. You can modify any of this with custom CSS
                        or overriding our default variables. It's also worth noting that just about any
                        HTML can go within the <strong>.accordion-body</strong>, though the transition
                        does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default,
                        until the collapse plugin adds the appropriate classes that we use to style each
                        element. These classes control the overall appearance, as well as the showing and
                        hiding via CSS transitions. You can modify any of this with custom CSS or
                        overriding our default variables. It's also worth noting that just about any HTML
                        can go within the <strong>.accordion-body</strong>, though the transition does
                        limit overflow.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>