<div class="container shadow-sm p-3 mb-5">
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <button data-mdb-toggle="modal" data-mdb-target="#containerModal" type="button" class="btn-theme me-2">
                <i class="fa fa-plus"></i> Add Container
            </button>
            <button data-mdb-toggle="modal" data-mdb-target="#truckModal" type="button" class="btn-theme">
                <i class="fa fa-plus"></i> Add Truck
            </button>
        </div>

        <div>
            <p class="mb-1 text-muted" style="font-size: 10px;">Automatic Container Selection</p>
            <p class="mb-0 theme-color">
                <i class="fa fa-check text-success"></i>
                <span class="ms-2 me-3">20’STANDARD</span>
                <i class="fa fa-check text-success"></i>
                <span class="ms-2 me-3">40’STANDARD</span>
                <i class="fa fa-check text-success"></i>
                <span class="ms-2 me-3">40’HIGH-CUBE</span>
            </p>
        </div>
    </div>
</div>





<div class="container">
    <div class="row">
        <div class="mx-auto col-11 col-sm-10 col-md-5 col-lg-4 mb-4">
            <div class="truck-box">
                <h6>20' STANDART</h6>
                <img src="./assets/images/fright-form/tautliner.svg" class="w-100" alt="">
                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
</div>




<div class="text-center my-5">
    <a routerLink="/app/services/freight/how-much-does-it-cost/products" class="btn btn-secondary">Back</a>
    <a routerLink="/app/services/freight/how-much-does-it-cost/client-form" class="btn btn-primary ms-2">Next</a>
</div>




<div class="modal fade" id="truckModal" tabindex="-1" aria-labelledby="truckModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="truckModalLabel">Select truck</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <div class="row w-100">

                        <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                            <div class="select-truck">
                                <h6 class="mb-0">20' STANDART</h6>
                                <img src="./assets/images/fright-form/tautliner.svg" class="w-100" alt="">
                            </div>
                        </div>

                        <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                            <div class="select-truck">
                                <h6 class="mb-0">20' STANDART</h6>
                                <img src="./assets/images/fright-form/refrigerated.svg" class="w-100" alt="">
                            </div>
                        </div>

                        <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                            <div class="select-truck">
                                <h6 class="mb-0">20' STANDART</h6>
                                <img src="./assets/images/fright-form/jumbo.svg" class="w-100"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="containerModal" tabindex="-1" aria-labelledby="containerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="containerModalLabel">Select container</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <div class="row w-100">

                        <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                            <div class="select-truck">
                                <h6 class="mb-0">20' STANDART</h6>
                                <img src="./assets/images/fright-form/20st.svg" class="w-100" alt="">
                            </div>
                        </div>

                        <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                            <div class="select-truck">
                                <h6 class="mb-0">20' STANDART</h6>
                                <img src="./assets/images/fright-form/20op.svg" class="w-100" alt="">
                            </div>
                        </div>

                        <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                            <div class="select-truck">
                                <h6 class="mb-0">20' STANDART</h6>
                                <img src="./assets/images/fright-form/20op (1).svg" class="w-100"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
