.truck-box {
    position: relative;

    image {
        object-fit: cover;
    }

    button {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}


.select-truck {
    border: 1px solid #7e8388;
    padding: 10px;
    height: 100%;
    border-radius: 10px;
}