<section id="truck-container">
    <div class="container">
        <div class="row">

            <app-section-title title="Trucks"></app-section-title>

            <ng-container *ngFor="let item of truck_list">
                <div class="col-11 col-sm-6 col-md-4 col-lg-3 col-xl-2 mx-auto mb-4">
                    <div class="select-truck" [class.active]="item.id == user_truck[0]['id']" (click)="selectedTruck(item.id)">
                        <img [src]="'./assets/images/fright-form/' + item.image" alt="Container img">
                        <h6>{{ item.type }}</h6>
                    </div>
                </div>
            </ng-container>


            <app-section-title title="Containers"></app-section-title>

            <ng-container *ngFor="let item of container_list">
                <div class="col-11 col-sm-6 col-md-4 col-lg-3 col-xl-2 mx-auto mb-4">
                    <div class="select-truck" [class.active]="item.id == user_truck[0]['id']" (click)="selectedTruck(item.id)">
                        <img [src]="'./assets/images/fright-form/' + item.image" alt="Container img">
                        <h6>{{ item.type }}</h6>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
</section>





<div class="text-center my-5">
    <a routerLink="/app/services/freight/how-much-does-it-cost/products" class="btn btn-secondary">Back</a>
    <a routerLink="/app/services/freight/how-much-does-it-cost/client-form" class="btn btn-primary ms-2">Next</a>
</div>