<div class="fixed-buttons">
	<ul class="list-unstyled mb-0">
		<li>
			<a target="_blank" href="https://www.google.com/maps/place/1310+Turk+St+%23208,+San+Francisco,+CA+94115,+USA/@37.7808353,-122.4333834,17z/data=!3m1!4b1!4m6!3m5!1s0x808580bb99565951:0xccbca122559a363b!8m2!3d37.7808311!4d-122.4308085!16s%2Fg%2F11tmvl21mp?entry=ttu">
				<i class="fa fa-location-dot"></i>
			</a>
		</li>
		<li>
			<a target="_blank" href="tel:+18007281735">
				<i class="fa fa-phone"></i>
			</a>
		</li>
		<li>
			<a target="_blank" href="mailto:info@dplinc.co">
				<i class="fa fa-envelope"></i>
			</a>
		</li>
	</ul>
</div>