<section id="main-bar">

    <div class="form-block flex-column">

        <h2>Lorem, ipsum dolor.</h2>

        <form>
            <div class="form-outline">
                <input type="text" placeholder="From">
                <i class="fa fa-map-marker-alt"></i>
            </div>
            <div class="form-outline">
                <input type="text" placeholder="To">
                <i class="fa fa-map-marker-alt"></i>
            </div>
            <div class="form-outline">
                <input matInput [matDatepicker]="picker" readonly>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
            <div class="radio-btn">
                <input type="radio" class="form-check-input" name="truck" id="open">
                <label class="form-check-label" for="open">
                    <img src="./../../../../assets/truck2.png" width="30px" alt="">
                    Open
                </label>
            </div>
            <div class="radio-btn mx-2">
                <input type="radio" class="form-check-input" name="truck" id="enclosed">
                <label class="form-check-label" for="enclosed">
                    <img src="./../../../../assets/truck1.png" width="30px" alt="">
                    Enclosed
                </label>
            </div>
            <button class="form-btn px-3">
                <i class="fa fa-search"></i>
            </button>
        </form>

    </div>


    <video id="main-bar-video" preload autoplay loop muted>
        <source src="./assets/map-animation.mp4" type="video/mp4">
    </video>
</section>