#main-bar {
    display: flex;
    min-height: 70vh;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: 0%;
    background-size: cover;
    background-image: url(../../../../assets/images/main-bar-image.jpg);

    .text-content,
    .form-content {
        display: flex;
        justify-content: center;
        height: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    #main-bar {
        padding-bottom: 70px;

        .form-content {
            margin-top: 20px;
        }
    }
}