#block-carousel {
    position: relative;

    .card {
        .card-img-top {
            height: 230px;
        }
    }


    .swiper-pagination-bullets.swiper-pagination-horizontal {
        top: 102%;
    }


    .swiper-button-next-reviews,
    .swiper-button-prev-reviews {
        margin-top: 0px;
        position: absolute;
        top: 50%;
        right: -40px;
        font-size: 20px;
        transform: translateY(-50%);
    }

    .swiper-button-prev-reviews {
        left: -40px;
        right: unset;
    }
}