<app-bread-crumbs [img_url]="'truck-with-white.jpg'">
    <div class="d-flex align-items-center h-100">
        <div class="w-100">
            <h1 class="text-light">Lorem, ipsum dolor.</h1>
            <p class="text-light my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />Non unde atque
                exercitationem quos rerum reiciendis.</p>

        </div>
    </div>
</app-bread-crumbs>





<!-- card -->
<section id="block-carousel">
    <div class="container mb-5">
        <app-section-title title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."></app-section-title>

        <div class="swiper">
            <div class="swiper-wrapper">

                <div *ngFor="let item of [1,2,3,4,5,6,7]" class="swiper-slide">
                    <div class="card bg-theme">
                        <img class="card-img-top" src="./assets/images/car-dealership.jpg" alt="DPL service image">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                            </div>
                            <div class="card-text">
                                <p class="text-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Maxime modi quod quam atque dolorem maiores reprehenderit at, deleniti illo iure
                                    deserunt esse neque nam!</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="swiper-button-next-reviews">
            <i class="fa fa-chevron-right"></i>
        </div>
        <div class="swiper-button-prev-reviews">
            <i class="fa fa-chevron-left"></i>
        </div>

        <div class="swiper-pagination"></div>

    </div>
</section>