#img-hover {
    $width: 100vw;

    .img-block {
        display: inline-block;
        width: 45%;
        margin: 2.5%;
        margin-top: 0;
        height: 250px;
        background-position: center;
        background-size: cover;
        filter: grayscale(100%);
        overflow: hidden;
        transition: all .3s ease-in;

        &:hover {
            cursor: pointer;
            filter: grayscale(0);
        }

        h4 {
            padding: 20px;
            color: var(--light);
        }
    }
}



.card {
    .card-img-top {
        height: 230px;
    }
}
