<app-bread-crumbs [img_url]="'intermodal.jpg'">
    <div class="d-flex align-items-center h-100">
        <div class="w-100">
            <h1 class="text-light">Lorem, ipsum dolor.</h1>
            <p class="text-light my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />Non unde atque
                exercitationem quos rerum reiciendis.</p>

            <a href="#" class="btn-theme">Lorem, ipsum.</a>
        </div>
    </div>
</app-bread-crumbs>






<div class="container mb-5 pb-5">
    <app-section-title
        title="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus."></app-section-title>

    <div class="row">
        <div class="mx-auto col-11 col-sm-10 col-md-9 col-lg-6 mt-5">
            <div class="card shadow-0 border px-4 pb-5">
                <app-section-title title="Lorem ipsum, dolor sit amet consectetur adipisicing."></app-section-title>

                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ab, dolorem
                    deserunt, voluptatum facere soluta fugit minus blanditiis, excepturi ipsum eos ex laboriosam
                    consequuntur inventore error illo aliquam a corrupti! Nostrum dolorum dicta accusamus cupiditate
                    ullam dolore maxime optio impedit?</p>

                <a href="#" class="btn shadow-0 border d-inline-block mx-auto fw-bold">Get a quote</a>
            </div>
        </div>
        <div class="mx-auto col-11 col-sm-10 col-md-9 col-lg-6 mt-5">
            <div class="card shadow-0 border px-4 pb-5">
                <app-section-title title="Lorem ipsum, dolor sit amet consectetur adipisicing."></app-section-title>

                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ab, dolorem
                    deserunt, voluptatum facere soluta fugit minus blanditiis, excepturi ipsum eos ex laboriosam
                    consequuntur inventore error illo aliquam a corrupti! Nostrum dolorum dicta accusamus cupiditate
                    ullam dolore maxime optio impedit?</p>

                <a href="#" class="btn shadow-0 border d-inline-block mx-auto fw-bold">Request a quote</a>
            </div>
        </div>
    </div>
</div>




<!-- tabs section -->
<div class="container">
    <p class="mb-0">Lorem ipsum dolor sit amet.</p>
    <h2 class="mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing.</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, aut esse dolorum aliquid alias a saepe!
        Architecto facere pariatur placeat nesciunt! Nesciunt obcaecati asperiores recusandae possimus voluptatum
        repudiandae, fugit provident ipsam nihil, accusantium illum placeat repellat odit temporibus sit dignissimos!
    </p>


    <!-- Tabs navs -->
    <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab"
                aria-controls="ex1-tabs-1" aria-selected="true">Tab 1</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab"
                aria-controls="ex1-tabs-2" aria-selected="false">Tab 2</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="ex1-tab-3" data-mdb-toggle="tab" href="#ex1-tabs-3" role="tab"
                aria-controls="ex1-tabs-3" aria-selected="false">Tab 3</a>
        </li>
    </ul>
    <!-- Tabs navs -->

    <!-- Tabs content -->
    <div class="tab-content" id="ex1-content">
        <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
        </div>
        <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
            <h3>Lorem ipsum dolor sit amet.</h3>
        </div>
        <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam.</h3>
        </div>
    </div>
    <!-- Tabs content -->

    <hr>


    <div class="row my-5 py-5">
        <div class="mx-auto col-11 col-sm-10 col-md-6">

            <div class="tab-content" id="ex1-content">
                <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eveniet facilis corrupti!
                        Distinctio quidem nostrum quaerat eos explicabo!</p>

                    <ul class="ps-3">
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus velit sint unde, labore amet
                        eveniet maxime consequuntur accusamus autem libero!</p>

                    <ul class="ps-3">
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi corporis nisi est saepe, id
                        odit.</p>

                    <ul class="ps-3">
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="mx-auto col-11 col-sm-10 col-md-6">
            <form action="">
                <div class="row w-100">
                    <div class="col-6 mb-4">
                        <input class="form-control" type="text" placeholder="First name">
                    </div>
                    <div class="col-6 mb-4">
                        <input class="form-control" type="text" placeholder="Last name">
                    </div>
                    <div class="col-6 mb-4">
                        <input class="form-control" type="text" placeholder="Email">
                    </div>
                    <div class="col-6 mb-4">
                        <input class="form-control" type="text" placeholder="Phone">
                    </div>
                    <div class="col-6 mb-4">
                        <input class="form-control" type="text" placeholder="Company">
                    </div>
                    <div class="col-6 mb-4">
                        <select class="form-select">
                            <option value="">Select Country</option>
                        </select>
                    </div>
                    <div class="col-6 mb-4">
                        <select class="form-select">
                            <option value="">Job level</option>
                        </select>
                    </div>
                    <div class="col-6 mb-4">
                        <select class="form-select">
                            <option value="">Department</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-top align-items-start">
                        <input type="checkbox" class="form-checbox" class="d-inline me-3">
                        <p class="d-inline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas assumenda
                            rem natus illum
                            deleniti soluta doloribus, error tenetur voluptatum mollitia!</p>
                    </div>
                    <button class="btn-theme">SEND</button>

                </div>
            </form>
        </div>
    </div>

</div>









<!-- img hover section -->
<section id="img-hover">
    <div class="container my-5">
        <div class="row">
            <div class="mx-auto col-11 col-sm-10 col-md-6 p-4 d-f-a-c-j-c">
                <div>
                    <p class="mb-0">Lorem ipsum dolor sit amet.</p>
                    <h2 class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut.</h2>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta consequatur harum voluptate
                        veniam.
                        Tempore, ipsum, vero ducimus non id, ullam in excepturi sapiente ratione sequi impedit esse
                        quaerat
                        quos libero doloribus obcaecati hic! Aliquam.</p>

                    <a href="#" class="btn-theme">Follow Us</a>
                </div>
            </div>

            <div class="mx-auto col-11 col-sm-10 col-md-6 p-4">
                <div class="img-block" style="background-image: url('./assets/images/AdobeStock.jpg');">
                    <h4>Lorem ipsum dolor sit.</h4>
                </div>
                <div class="img-block" style="background-image: url('./assets/images/answers_to.jpg');">
                    <h4>Lorem ipsum dolor sit.</h4>
                </div>
                <div class="img-block"
                    style="background-image: url('./assets/images/john-simmons.jpg');">
                    <h4>Lorem ipsum dolor sit.</h4>
                </div>
                <div class="img-block"
                    style="background-image: url('./assets/images/171221104902022.png');">
                    <h4>Lorem ipsum dolor sit.</h4>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- card -->
<div class="container">
    <app-section-title title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."></app-section-title>

    <div class="row mb-5 py-5">
        <div class="mx-auto col-11 col-sm-6 col-md-5 col-lg-3 mt-5">
            <div class="card bg-theme">
                <img class="card-img-top" src="./assets/images/car-dealership.jpg" alt="DPL service image">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    </div>
                    <div class="card-text">
                        <p class="text-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime modi
                            quod quam atque dolorem
                            maiores reprehenderit at, deleniti illo iure deserunt esse neque nam!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto col-11 col-sm-6 col-md-5 col-lg-3 mt-5">
            <div class="card bg-theme">
                <img class="card-img-top" src="./assets/images/bulk.png" alt="DPL service image">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    </div>
                    <div class="card-text">
                        <p class="text-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime modi
                            quod quam atque dolorem
                            maiores reprehenderit at, deleniti illo iure deserunt esse neque nam!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto col-11 col-sm-6 col-md-5 col-lg-3 mt-5">
            <div class="card bg-theme">
                <img class="card-img-top" src="./assets/images/download.jpeg" alt="DPL service image">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    </div>
                    <div class="card-text">
                        <p class="text-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime modi
                            quod quam atque dolorem
                            maiores reprehenderit at, deleniti illo iure deserunt esse neque nam!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto col-11 col-sm-6 col-md-5 col-lg-3 mt-5">
            <div class="card bg-theme">
                <img class="card-img-top" src="./assets/images/answers_to.jpg" alt="DPL service image">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    </div>
                    <div class="card-text">
                        <p class="text-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime modi
                            quod quam atque dolorem
                            maiores reprehenderit at, deleniti illo iure deserunt esse neque nam!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>