#car-shipping {
    .block {
        margin-bottom: 40px;

        img {
            border: 3px solid var(--theme-2);
        }

        p {
            letter-spacing: 0;
            font-size: 14px;
        }

        .block-link {
            color: var(--theme-2);
            border-bottom: 1px solid transparent;

            &:hover {
                border-bottom: 1px solid var(--theme-2);
            }
        }
    }
}