<section id="car-shipping">
    <app-section-title title="Car Shipping"></app-section-title>

    <div class="container">
        <div class="row">
            <div class="mx-auto col-11 col-sm-10 col-md-6 col-lg-6 col-xl-5">
                <div class="block">
                    <img src="./assets/images/shipping/car-hauler_SuperDispatch.jpg" alt=""
                        class="img-fluid" height="300px">

                    <h5 class="mt-4 mb-2">Lorem, ipsum dolor.</h5>
                    <p>
                        <strong>
                            <span>|&nbsp;</span>
                        </strong>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolor, animi tenetur aut totam
                        dolorum quidem. Reiciendis, deserunt tempora libero aliquam quia itaque molestiae nulla
                        voluptates dignissimos quod, similique minus quaerat veniam repudiandae quisquam impedit!
                    </p>
                    <a class="block-link" href="#">Read more</a>
                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-6 col-lg-6 col-xl-5">
                <div class="block">
                    <img src="./assets/images/shipping/truck.jpg" alt=""
                        class="img-fluid" height="300px">

                    <h5 class="mt-4 mb-2">Lorem, ipsum dolor.</h5>
                    <p>
                        <strong>
                            <span>|&nbsp;</span>
                        </strong>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolor, animi tenetur aut totam
                        dolorum quidem. Reiciendis, deserunt tempora libero aliquam quia itaque molestiae nulla
                        voluptates dignissimos quod, similique minus quaerat veniam repudiandae quisquam impedit!
                    </p>
                    <a class="block-link" href="#">Read more</a>
                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-6 col-lg-6 col-xl-5">
                <div class="block">
                    <img src="./assets/images/shipping/Untitled-design-7.png" alt=""
                        class="img-fluid" height="300px">

                    <h5 class="mt-4 mb-2">Lorem, ipsum dolor.</h5>
                    <p>
                        <strong>
                            <span>|&nbsp;</span>
                        </strong>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, in ad esse assumenda sequi
                        temporibus ipsam eius nisi vitae libero modi alias ullam aliquid mollitia consequuntur
                        praesentium ut! Ab dolor quo odit, a fugiat fugit?
                    </p>
                    <a class="block-link" href="#">Read more</a>
                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-6 col-lg-6 col-xl-5">
                <div class="block">
                    <img src="./assets/images/shipping/shutterstock_2025993740.jpg" alt=""
                        class="img-fluid" height="300px">

                    <h5 class="mt-4 mb-2">Lorem, ipsum dolor.</h5>
                    <p>
                        <strong>
                            <span>|&nbsp;</span>
                        </strong>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati non numquam eius nihil eum
                        consectetur nam laudantium excepturi ex? Eius nemo quidem aliquam quaerat voluptatem! Soluta,
                        quos exercitationem! Quam quia sequi doloremque laudantium rem optio.
                    </p>
                    <a class="block-link" href="#">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>