nav {

    .navbar-dropdown {
        display: flex;

        .navbar-dropdown-item {
            h4 {
                padding: 1rem;
                font-size: 1.1rem;
                width: max-content;
            }

            ul li {
                padding: 0 0.5rem 0 0.5rem;
                margin: 0.5rem 0 0.5rem 0;

                a {
                    display: block;
                    font-weight: 500;
                    font-size: 0.9rem;
                    line-height: 1.381;
                    padding: 0 0.5rem 0 0.5rem;
                    border-left: 1px solid transparent;

                    &:hover {
                        color: var(--theme-2);
                        border-left: 1px solid var(--theme-2);
                    }

                    &.active {
                        color: var(--theme-2);
                        border-left: 1px solid var(--theme-2);
                    }
                }
            }
        }
    }


    .navbar-nav .nav-item .nav-link {
        color: var(--theme-1);
        border-bottom: 1px solid transparent;

        &:hover {
            color: var(--theme-2);
            border-bottom: 1px solid var(--theme-2);
        }

        &.active {
            color: var(--theme-2);
            border-bottom: 1px solid var(--theme-2);
        }
    }


    .search-bar {
        position: relative;
        align-items: center;
        display: flex;
        width: 200px;
        height: 44px;
        padding: 0 0 0 15px;
        border-radius: 40px;
        box-shadow: 0px 1px 0px 0px var(--theme-1);

        .input {
            border: none;
            height: 25px;
            width: 140px;
            color: #1b1b1b;
            font-size: 15px;
            outline: none;

            &:not(:placeholder-shown)+.label {
                display: none;
            }

            &:focus~.label {
                display: none;
                transition: all 0.5s ease;
            }
        }


        .label {
            position: absolute;
            top: 13px;
            pointer-events: none;
            transition: all 0.5s ease;
        }

        .search-btn {
            right: 2px;
            position: absolute;
            cursor: pointer;
            height: 40px;
            min-width: 40px;
            border-radius: 20px;
            background: var(--theme-1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 1s ease;

            &:hover {
                background: var(--theme-2-light);
            }
        }
    }



    .toggler-nav {
        display: none;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .navbar-toggler {

            .bar1,
            .bar2,
            .bar3 {
                background-color: var(--theme-2);
                margin: 6px 0;
                margin-right: auto;
                margin-left: 0;
                height: 3px !important;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -ms-transition: 0.4s;
                -o-transition: 0.4s;
                transition: 0.4s;
            }

            .bar1 {
                width: 35px;
            }

            .bar2 {
                width: 25px;
            }

            .bar3 {
                width: 10px;
            }

            &:not(.collapsed) {
                .bar1 {
                    width: 35px;
                    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
                    transform: rotate(-45deg) translate(-6px, 6px);
                }

                .bar2 {
                    opacity: 0;
                }

                .bar3 {
                    width: 35px;
                    -webkit-transform: rotate(45deg) translate(-6px, -6px);
                    transform: rotate(45deg) translate(-6px, -6px);
                }
            }

            &:hover .bar2,
            &:hover .bar3 {
                width: 35px;
            }
        }
    }


    .mobile-navbar {
        position: fixed;
        display: none;
        min-width: 300px;
        top: 54.3px;
        left: 0;
        transform: translateX(-100%);
        height: calc(100vh - 55px);
        overflow-x: hidden;
        overflow-y: auto;
        padding: 40px 0px 50px 0px;
        background: var(--white);
        transition: all .3s;

        &.show {
            transform: translateX(0);
        }

        &::-webkit-scrollbar {
            display: none;
        }



        .navbar-dropdown-link {
            &:hover {
                color: var(--theme-2);
            }

            &.active {
                color: var(--theme-2);
            }
        }


        .accordion-item {
            border: none;
            margin-top: 20px;

            .accordion-button:not(.collapsed) {
                color: var(--theme-2);
            }

            .accordion-body {
                h4 {
                    margin-top: 20px;
                    font-size: 18px;
                }

                ul {
                    margin-top: 15px;

                    li {
                        margin-top: 5px;

                        a {
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

}


@media screen and (max-width: 992px) {
    nav {
        .toggler-nav {
            display: flex;
        }

        .navbar-collapse {
            display: none;
        }

        .mobile-navbar {
            display: block;
            width: 50vw;
        }
    }
}


@media screen and (max-width: 700px) {
    nav {
        .mobile-navbar {
            width: 70vw;
        }
    }
}