<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light py-0">
	<div class="container-fluid">

		<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarId"
			aria-controls="navbarId" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>

		<div class="collapse navbar-collapse d-flex justify-content-between" id="navbarId">

			<a class="navbar-brand mt-2 mt-lg-0" href="#">
				<img src="./assets/logo.png" loading="lazy" width="150px" />
			</a>

			<ul class="navbar-nav mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown1" role="button" data-mdb-toggle="dropdown"
						aria-expanded="false">Customers</a>
					<div class="dropdown-menu" aria-labelledby="dropdown1">
						<div class="navbar-dropdown">
							<div class="navbar-dropdown-item border-end">
								<h4 class="mb-0">Auto Transportation Customers</h4>
								<ul class="list-unstyled">
									<li>
										<a class="navbar-dropdown-link" href="#">Online Car Buyers</a>
									</li>
									<li>
										<a class="navbar-dropdown-link" href="#">Private Dealers</a>
									</li>
									<li>
										<a class="navbar-dropdown-link" href="#">Dealerships</a>
									</li>
									<li>
										<a class="navbar-dropdown-link" href="#">Auctions</a>
									</li>
								</ul>
							</div>
							<div class="navbar-dropdown-item">
								<h4 class="mb-0">Freight Transportation Customers</h4>
								<ul class="list-unstyled">
									<li>
										<a class="navbar-dropdown-link" href="#">Manufacturers and warehouses</a>
									</li>
									<li>
										<a class="navbar-dropdown-link" href="#">Recyclers</a>
									</li>
									<li>
										<a class="navbar-dropdown-link" href="#">Distribution Centers</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown2" role="button" data-mdb-toggle="dropdown"
						aria-expanded="false">Carriers</a>
					<div class="dropdown-menu" aria-labelledby="dropdown2">
						<div class="navbar-dropdown">
							<div class="navbar-dropdown-item border-end">
								<h4 class="mb-0">Auto Transportation Carriers</h4>
								<ul class="list-unstyled">
									<li>
										<a class="navbar-dropdown-link" href="#">Open car Haulers</a>
									</li>
									<li>
										<a class="navbar-dropdown-link" href="#">Enclosed Car Haulers</a>
									</li>
									<li>
										<a class="navbar-dropdown-link" href="#">Flatbed Car Trailers</a>
									</li>
									<li>
										<a class="navbar-dropdown-link" href="#">Specialized Cars,<br />Heavy Truck
											Haulers</a>
									</li>
								</ul>
							</div>
							<div class="navbar-dropdown-item">
								<h4 class="mb-0">Freight Transportation Carriers</h4>
								<ul class="list-unstyled">
									<li>
										<a class="navbar-dropdown-link" href="#">Dry Vans ( All sizes)</a>
									</li>
									<li>
										<a class="navbar-dropdown-link" href="#">Reefers</a>
									</li>
									<li>
										<a class="navbar-dropdown-link" href="#">Box Trucks</a>
									</li>
									<li>
										<a class="navbar-dropdown-link" href="#">Flatbed</a>
									</li>
									<li>
										<a class="navbar-dropdown-link" href="#">Conestoga</a>
									</li>
									<li>
										<a class="navbar-dropdown-link" href="#">Drop Trailers, Containers</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown3" role="button" data-mdb-toggle="dropdown"
						aria-expanded="false">Transportation&nbsp;Services</a>
					<div class="dropdown-menu" aria-labelledby="dropdown3">
						<div class="navbar-dropdown">
							<div class="navbar-dropdown-item border-end">
								<h4 class="mb-0">Auto Transportation Services</h4>
								<ul class="list-unstyled">
									<li>
										<a class="navbar-dropdown-link" href="#">How does it work?</a>
									</li>
									<li>
										<a class="navbar-dropdown-link" href="#">How much does it cost?</a>
									</li>
								</ul>
							</div>
							<div class="navbar-dropdown-item">
								<h4 class="mb-0">Freight Transportation Services</h4>
								<ul class="list-unstyled">
									<li>
										<a class="navbar-dropdown-link" href="#">How does it work?</a>
									</li>
									<li>
										<a class="navbar-dropdown-link" href="#">How much does it cost?</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About&nbsp;Us</a>
				</li>
			</ul>


			<div class="search-bar">
				<input type="text" class="input" placeholder="&nbsp;">
				<span class="label">Search</span>
				<div class="search-btn d-flex align-items-center justify-content-center text-light">
					<i class="fa fa-search"></i>
				</div>
			</div>

		</div>

	</div>
</nav>