<app-bread-crumbs img_url="enclosed.jpg">
    <div class="container">
        <div class="h-100 d-f-a-c-j-c flex-column text-center">
            <h2 class="text-light">Lorem ipsum dolor sit.</h2>
            <p class="text-light w-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, facere
                dignissimos laboriosam dolorum placeat eos illum dolorem ducimus, commodi omnis, quidem amet nemo non
                excepturi.</p>

            <a routerLink="/app/services/auto/how-much-does-it-cost" class="btn-theme">Get a free quote</a>
        </div>
    </div>
</app-bread-crumbs>






<div class="container my-5 py-5">
    <app-section-title title="Lorem ipsum dolor sit amet"></app-section-title>
    <div class="text-list">
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, dignissimos? Ipsam, ducimus.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, dignissimos? Ipsam, ducimus.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, dignissimos? Ipsam, ducimus.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, dignissimos? Ipsam, ducimus.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, dignissimos? Ipsam, ducimus.</li>
        </ul>
    </div>
</div>







<div class="container mb-5 pb-5">
    <app-section-title title="Lorem ipsum dolor sit"></app-section-title>

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Enclosed_auto/2.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>


    <div class="row sm-reverse">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aliquid tempora magnam totam
                        enim voluptatem similique quas nobis optio odio itaque repudiandae autem illum. Accusamus magni
                        ad harum excepturi neque nemo quae. Suscipit, consequuntur quibusdam.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Enclosed_auto/3.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Enclosed_auto/4.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

</div>