<!-- <app-bread-crumbs [img_url]="'loadboard-hero-Desktop.jpg'">
    <div class="d-flex align-items-center h-100">
        <div class="w-100">
            <h1 class="text-light">Lorem, ipsum dolor.</h1>
            <p class="text-light my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />Non unde atque
                exercitationem quos rerum reiciendis.</p>

            <h6 class="bg-light py-2 w-100 d-block text-center">Form section</h6>
        </div>
    </div>
</app-bread-crumbs> -->
<app-main-bar></app-main-bar>




<app-info-numberic></app-info-numberic>




<div class="container mb-5 pb-5">
    <app-section-title title="Lorem ipsum dolor sit"></app-section-title>

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carriers/Enclosed-Trailer.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>


    <div class="row sm-reverse">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aliquid tempora magnam totam
                        enim voluptatem similique quas nobis optio odio itaque repudiandae autem illum. Accusamus magni
                        ad harum excepturi neque nemo quae. Suscipit, consequuntur quibusdam.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carriers/florida.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carriers/Gesloten-aanhanger.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>


    <div class="row sm-reverse">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aliquid tempora magnam totam
                        enim voluptatem similique quas nobis optio odio itaque repudiandae autem illum. Accusamus magni
                        ad harum excepturi neque nemo quae. Suscipit, consequuntur quibusdam.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carriers/shutterstock.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carriers/small-1.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>


    <div class="row sm-reverse">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aliquid tempora magnam totam
                        enim voluptatem similique quas nobis optio odio itaque repudiandae autem illum. Accusamus magni
                        ad harum excepturi neque nemo quae. Suscipit, consequuntur quibusdam.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carriers/transcar-auto-shippers.jpeg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

</div>