<div class="container">
    <app-section-title title="Lorem, ipsum dolor sit amet consectetur adipisicing."></app-section-title>

    <div class="row my-5 py-5">
        <div class="mx-auto mb-4 col-9 col-sm-6 col-md-5 col-lg-3">
            <div class="card border p-3 text-center hover-shadow">
                <h2>$4M+</h2>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde accusantium libero cumque,
                    maxime iure
                    sit?</p>
            </div>
        </div>
        <div class="mx-auto mb-4 col-9 col-sm-6 col-md-5 col-lg-3">
            <div class="card border p-3 text-center hover-shadow">
                <h2>$4M+</h2>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde accusantium libero cumque,
                    maxime iure
                    sit?</p>
            </div>
        </div>
        <div class="mx-auto mb-4 col-9 col-sm-6 col-md-5 col-lg-3">
            <div class="card border p-3 text-center hover-shadow">
                <h2>$4M+</h2>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde accusantium libero cumque,
                    maxime iure
                    sit?</p>
            </div>
        </div>
        <div class="mx-auto mb-4 col-9 col-sm-6 col-md-5 col-lg-3">
            <div class="card border p-3 text-center hover-shadow">
                <h2>$4M+</h2>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde accusantium libero cumque,
                    maxime iure
                    sit?</p>
            </div>
        </div>
    </div>
</div>