.section-title {
    color: var(--theme-1) !important;
    font-weight: 700;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 40px;

    h2 {
        display: inline-block;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 30%;
            height: 5px;
            width: 40%;
            background-color: var(--theme-2);
        }
    }
}

@media screen and (max-width: 768px) {
    h2.section-title {
        font-weight: 600;
        margin-top: 60px;
        margin-bottom: 25px;
    }
}