<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel" data-mdb-interval="3000">
    <!-- Inner -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
            <img src="./assets/images/carries/open_car_hualer/1.jpg" class="d-block w-100"
                alt="Sunset Over the City" />
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <img src="./assets/images/carries/open_car_hualer/2.jpg" class="d-block w-100"
                alt="Canyon at Nigh" />
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <img src="./assets/images/carries/open_car_hualer/3.jpg" class="d-block w-100"
                alt="Cliff Above a Stormy Sea" />
        </div>

    </div>
    <!-- Inner -->

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon text-light" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
        <span class="carousel-control-next-icon text-light" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>




<div class="container mb-5 pb-5">
    <app-section-title title="Lorem ipsum dolor sit"></app-section-title>

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/open_car_hualer/4.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>


    <div class="row sm-reverse">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aliquid tempora magnam totam
                        enim voluptatem similique quas nobis optio odio itaque repudiandae autem illum. Accusamus magni
                        ad harum excepturi neque nemo quae. Suscipit, consequuntur quibusdam.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/open_car_hualer/5.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/open_car_hualer/6.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>


    <div class="row sm-reverse">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aliquid tempora magnam totam
                        enim voluptatem similique quas nobis optio odio itaque repudiandae autem illum. Accusamus magni
                        ad harum excepturi neque nemo quae. Suscipit, consequuntur quibusdam.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/open_car_hualer/7.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem ipsum dolor, sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti consequuntur nostrum,
                        quibusdam nesciunt neque repellat doloribus! Autem odit facere quisquam maiores ut tempora sed,
                        cum sequi aut pariatur! Nam dolorum nulla perferendis minus laudantium reprehenderit pariatur
                        quasi aliquid distinctio vero.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/open_car_hualer/8.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>


    <div class="row sm-reverse">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aliquid tempora magnam totam
                        enim voluptatem similique quas nobis optio odio itaque repudiandae autem illum. Accusamus magni
                        ad harum excepturi neque nemo quae. Suscipit, consequuntur quibusdam.</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/open_car_hualer/9.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

</div>