<app-bread-crumbs img_url="car.jpg">
    <div class="container">
        <div class="h-100 d-f-a-c-j-c flex-column text-center">
            <h2 class="text-light">Lorem ipsum dolor sit.</h2>
            <p class="text-light w-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, facere
                dignissimos laboriosam dolorum placeat eos illum dolorem ducimus, commodi omnis, quidem amet nemo non
                excepturi.</p>
        </div>
    </div>
</app-bread-crumbs>










<!-- large text -->
<div class="container">
    <div class="card">
        <div class="row w-100">
            <div class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
                <h3 class="my-4">Lorem ipsum dolor sit.</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed maxime libero! Minima consectetur
                    ipsum enim sint aperiam hic debitis magni earum vero obcaecati quaerat quod omnis, praesentium fugit
                    reiciendis laudantium aspernatur, magnam deserunt animi temporibus eligendi? Veniam, nulla eaque?
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, unde doloremque eaque voluptatem
                    debitis iste accusantium vero omnis, fuga quia laudantium corrupti. Ipsum dolore molestias
                    consequatur quas voluptatibus id dicta adipisci possimus aspernatur nobis.</p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos facere inventore iure
                    similique, quasi hic! Soluta voluptates fugit exercitationem voluptas, quam magnam eveniet? Modi non
                    doloribus officiis earum nobis.</p>
            </div>

            <div class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
                <h3 class="my-4">Lorem ipsum dolor sit.</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sed maxime libero! Minima consectetur
                    ipsum enim sint aperiam hic debitis magni earum vero obcaecati quaerat quod omnis, praesentium fugit
                    reiciendis laudantium aspernatur, magnam deserunt animi temporibus eligendi? Veniam, nulla eaque?
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, unde doloremque eaque voluptatem
                    debitis iste accusantium vero omnis, fuga quia laudantium corrupti. Ipsum dolore molestias
                    consequatur quas voluptatibus id dicta adipisci possimus aspernatur nobis.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos facere inventore iure
                    similique, quasi hic! Soluta voluptates fugit exercitationem voluptas, quam magnam eveniet? Modi non
                    doloribus officiis earum nobis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
                    eos facere inventore iure similique, quasi hic! Soluta voluptates fugit exercitationem voluptas,
                    quam magnam eveniet? Modi non doloribus officiis earum nobis.</p>
            </div>
        </div>
    </div>
</div>







<!-- large image block -->
<div class="container">
    <app-section-title title="Lorem ipsum dolor sit amet consectetur adipisicing elit."></app-section-title>

    <!-- Carousel wrapper -->
    <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel"
        data-mdb-interval="3000">
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="4"
                aria-label="Slide 5"></button>
        </div>

        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" class="d-block w-100"
                    alt="Sunset Over the City" />
                <div class="carousel-caption">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" class="d-block w-100"
                    alt="Canyon at Nigh" />
                <div class="carousel-caption">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="d-block w-100"
                    alt="Cliff Above a Stormy Sea" />
                <div class="carousel-caption">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" class="d-block w-100"
                    alt="Canyon at Nigh" />
                <div class="carousel-caption">
                    <h5>Four slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="d-block w-100"
                    alt="Cliff Above a Stormy Sea" />
                <div class="carousel-caption">
                    <h5>Five slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <!-- Inner -->

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
            data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
            data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>








<!-- icon block -->
<div class="container pb-5">
    <app-section-title title="Lorem ipsum dolor sit amet consectetur adipisicing elit."></app-section-title>

    <div class="row">
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-box"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-box-open"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-truck-ramp-box"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-gauge-high"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-boxes-stacked"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa-solid fa-stopwatch"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa-solid fa-shield"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa-solid fa-warehouse"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa-solid fa-file-lines"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
    </div>
</div>