<app-bread-crumbs [img_url]="'header.jpg'">
    <div class="d-flex align-items-center h-100">
        <div class="w-100">
            <h1 class="text-light">Lorem, ipsum dolor.</h1>
            <p class="text-light my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />Non unde atque
                exercitationem quos rerum reiciendis.</p>

            <a href="#" class="btn-theme mt-4" role="button" data-mdb-toggle="modal"
                data-mdb-target="#privateFormModal">
                Send Message
            </a>
        </div>
    </div>
</app-bread-crumbs>




<!-- icon block -->
<div class="container pb-5">
    <app-section-title title="Lorem ipsum dolor sit amet consectetur adipisicing elit."></app-section-title>
    <p class="text-center h5 fe-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore.</p>

    <div class="row">
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-box"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-box-open"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-truck-ramp-box"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-gauge-high"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-boxes-stacked"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa-solid fa-stopwatch"></i>
                </div>
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quae unde rerum odit magnam aliquam!
                </div>
            </div>
        </div>
    </div>
</div>







<div class="container">
    <div class="row">
        <div class="mx-auto col-11 col-sm-10 col-md-6 mt-5">
            <div class="d-f-a-c-j-c h-100">
                <div>
                    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, deleniti. Quo, similique ipsam
                        voluptatem dolore voluptas doloremque, repellat suscipit eos veritatis hic, alias rerum atque
                        officia
                        quod fugiat deserunt quidem.</p>
                </div>
            </div>
        </div>
        <div class="mx-auto col-11 col-sm-10 col-md-6 mt-5">

            <form #f="ngForm" (submit)="send(f)">
                <h3 class="text-center">Private dealers form</h3>

                <mat-form-field class="w-100">
                    <mat-label>First name</mat-label>
                    <input type="text" matInput ngModel name="first_name" required minlength="3">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Last name</mat-label>
                    <input type="text" matInput ngModel name="last_name" required minlength="3">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Phone</mat-label>
                    <input type="text" matInput ngModel name="phone" required minlength="7">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput ngModel name="email" required minlength="6">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Volume</mat-label>
                    <mat-select ngModel name="car" required>
                        <mat-option [value]="'1'">1 vehicle in month</mat-option>
                        <mat-option [value]="'1-5'">1-5 vehicle in month</mat-option>
                        <mat-option [value]="'5-10'">5-10 vehicle in month</mat-option>
                        <mat-option [value]="'10+'">10+ vehicle in month</mat-option>
                    </mat-select>
                </mat-form-field>

                <button [disabled]="f.invalid" type="submit" class="btn-theme w-100">SEND</button>
            </form>
        </div>
    </div>
</div>







<section id="private-dealers">
    <div class="container mt-5 py-5">

        <div class="row">
            <div class="mx-auto ms-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="img-block">
                    <img class="img-fluid rounded-3" src="./assets/images/dealers/dealership.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto me-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="text-block">
                    <h3>Lorem ipsum dolor sit amet.</h3>

                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati laborum, quas quam, inventore
                        odit quasi ut quidem asperiores, minus ducimus labore nihil! Impedit minus aspernatur tempore?
                        Soluta, consequatur. Maxime, vitae.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A reprehenderit quisquam enim
                        perspiciatis. Provident porro autem vero vitae molestias, corrupti repellat tempora aut
                        aspernatur illo nemo earum quidem!</p>
                </div>
            </div>
        </div>

        <div class="row sm-reverse">
            <div class="mx-auto me-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="img-block">
                    <img class="img-fluid rounded-3" src="./assets/images/dealers/carhauler.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto ms-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="text-block">
                    <h3>Lorem ipsum dolor sit amet.</h3>

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nobis cumque nesciunt quas. Ipsum
                        modi eveniet reiciendis suscipit similique sequi ad qui, delectus culpa iste laudantium dolores
                        nesciunt voluptate minus, cum nisi ab quaerat voluptas.</p>
                </div>
            </div>
        </div>

    </div>
</section>





<!-- form modal -->
<div class="container">
    <div class="modal fade" id="privateFormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container h-100 d-flex align-items-center">
                        <div class="row w-100">
                            <div class="mx-auto col-11 col-sm-10 col-md-9 col-lg-7 col-xl-6">

                                <form #fm="ngForm" (submit)="send(fm)">
                                    <h3 class="text-center">Private dealers form</h3>


                                    <mat-form-field class="w-100">
                                        <mat-label>First name</mat-label>
                                        <input type="text" matInput ngModel name="first_name" required minlength="3">
                                    </mat-form-field>

                                    <mat-form-field class="w-100">
                                        <mat-label>Last name</mat-label>
                                        <input type="text" matInput ngModel name="last_name" required minlength="3">
                                    </mat-form-field>

                                    <mat-form-field class="w-100">
                                        <mat-label>Phone</mat-label>
                                        <input type="text" matInput ngModel name="phone" required minlength="7">
                                    </mat-form-field>

                                    <mat-form-field class="w-100">
                                        <mat-label>Email</mat-label>
                                        <input type="email" matInput ngModel name="email" required minlength="6">
                                    </mat-form-field>

                                    <mat-form-field class="w-100">
                                        <mat-label>Volume</mat-label>
                                        <mat-select ngModel name="car" required>
                                            <mat-option [value]="'1'">1 vehicle in month</mat-option>
                                            <mat-option [value]="'1-5'">1-5 vehicle in month</mat-option>
                                            <mat-option [value]="'5-10'">5-10 vehicle in month</mat-option>
                                            <mat-option [value]="'10+'">10+ vehicle in month</mat-option>
                                        </mat-select>
                                    </mat-form-field>


                                    <div class="d-flex">
                                        <button type="reset" class="btn-secondary btn w-100 me-3"
                                            data-mdb-dismiss="modal">Cancel</button>
                                        <button [disabled]="fm.invalid" type="submit"
                                            class="btn-theme w-100">SEND</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>